<div class="row" >
    <div class="col" id="printsection">
           <h2>IPD Payment Mode Change</h2>
           <label style="font-size:medium; " for="refund">Payment Mode</label>
              <select style="margin-left:30px; width:170px ; " [(ngModel)]=payment.paymode>
                <option *ngFor="let group of group">
                {{group.paymode}}
                </option> 
              </select> 
            <br>
           <label style="font-size:medium; " for="srvcTax">Received Amount</label>
           <input style="font-size:small; margin-left:10px; width:50px ;" [(ngModel)]=payment.advanceReceived disabled="true"  >
           <br>
           <label style="font-size:medium; " for="recamt">Received Date</label>
           <input style="font-size:small; margin-left:35px; width:90px ;" [(ngModel)]=payment.ipdDate disabled="true"  type="Date" >

          
           <br><br><br><br>
           <input style="font-size:small; color: white; background-color: darkslategrey;  margin-left:15px; width:50px ; height: 40px; " disabled="true" [(ngModel)]=OPD.pntn type="pntn"  >
           <input style="font-size:small; color: white; background-color: darkslategrey;  width:350px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntName type="pntName"  >
           
           <input style="font-size:small; color: white; background-color: darkslategrey; width:40px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntAgeYrs type="pntAgeYrs" >
           <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntSex type="pntSex" >
           <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;"  disabled="true" [(ngModel)]=OPD.agey type="agey">

          
           <br>
           <label style="font-size:medium; margin-left:15px;" type="dcmntno"  >Receipt No</label>
           <input style="font-size:small; margin-left:30px; width:50px ; " disabled="true" [(ngModel)]=OPD.dcmntNo  type="dcmntno"  >
           <label style="font-size:medium; margin-left:10px;" for="uhID">UHID</label>
           <input style="font-size:small; margin-left:5px; width:75px ;" disabled="true" [(ngModel)]=OPD.uhID type="uhID" >
           <br>
           <label  style="font-size:medium; margin-left:15px;" for="pntg">Guardian</label>
           <input   style="font-size:small; margin-left:15px; width:55px ;  " disabled="true"  [(ngModel)]=OPD.pntg type="pntg"  >
           <input   style="font-size:small; width:250px ; " disabled="true"  [(ngModel)]=OPD.pntGrdn type="pntGrdn" >

           <br>
           <label   style="font-size:medium; margin-left:15px;" for="condoctor">Consultant</label>
           <input  style="font-size:small; margin-left:5px; width:305px ; " disabled="true" [(ngModel)]=OPD.dctrVisited type="dctrVisited" >
           <br><br><br><br>

            <button  class="btn btn-success" (click)="onsave()">SAVE</button>
            <button  class="btn btn-danger btn-rounded" (click)="onNoClick()">Discard</button>
        </div>
</div>
