<div class="row">
       
      <div class="col-2" id="printsection" style="margin-top: 2vw; margin-left: 50px;">
          <img src="assets\logo.jpg" style="width:80px;" id="icon" alt="User Icon" />
      </div>
      <div class = "col-9" >
          <h3 style="margin-top: 2vw; height: 4px; font-weight: bold; text-align: center; ">{{company}}</h3>
          <h4 style="height: 4px; text-align: center;">{{add}} {{city}} </h4>
          <h4 style="height: 4px; text-align: center;">{{phone}}</h4>
          <h4 style="height: 4px; text-align: center;">{{email}} {{website}}</h4>
      </div>