      <div class="row" style="margin-top: 1vw; border-bottom: solid black 1pt; width: 100%;">
        <div class="col-2" id="printsection" style="margin-top: 3vw; margin-left: 30px;">
            <img src="assets\logo.jpg" style="width:120px;" id="icon" alt="User Icon" />
        </div>
        <div class="col">
            <h5 style="font-size:40px; text-align: center;  font-weight: bolder; margin-top: 3vw;">{{company}}</h5>
            <h5 style="text-align: center; font-weight: bold;">{{add}}</h5>
            <h5 style="text-align: center;  font-weight: bold;">{{city}}</h5>
            <h5 style="text-align: center;  font-weight: bold;">{{phone}}</h5>
        </div>
    </div>