<div class="container-fluid" id="back" *ngIf="!isMobile">
  <div class="row hdr-row">
    <div class="col-8">
      <img src="./../../../assets/banner.png"
        style="margin-left:1vw; margin-top: 1vh; border-radius: 5px 5px 5px 5px; height: 14vh; width: 70%;">
    </div>
    <div class="col-1" style="display: flex; padding-right: 0;">
      <img src="./../../../assets/softman.jpg"
        style="margin-left:2px ; margin-top: 1vh; width:7vw; border-radius: 5px 5px 5px 5px; height: 14vh;">
    </div>

    <div class="col-2" style="padding: 0;">
      <img src="./../../../assets/silversoft.jpg"
        style="margin-left:0px ; margin-top: 1vh; width:14vw; border-radius: 5px 5px 5px 5px; height: 10vh;">
      <h4 style="margin-left:18px ;"> User - {{uname}} F.Y. - {{Years}} </h4>
    </div>
    <div class="col-1">
      <div class="row" style="height: 100%; margin: 0;padding: 0;">
        <mat-icon
          style="padding-left:0vw;height:8vh;padding-top: 3vh; font-size:4vh;color:rgb(3, 94, 140) !important; width:2vw; "
          fontIcon="home" (click)="onsumit()"></mat-icon>
        <mat-icon
          style="padding-left:0;height:8vh;padding-top: 3vh; font-size:4vh;color:rgb(3, 94, 140) !important; width:2vw; "
          fontIcon="exit_to_app" (click)="logout()"></mat-icon>

        <!-- <div id="profileImage" class="dropdown" (click)="toggleProfile()">
              <p class="dropbtn unselectable">
                {{initials}}
              </p>
              <div class="dropdown-content" id="dropdown">
                <a style="padding: 0;">
                  <div style="background-color:beige; width: 100%; height: 8vh; padding: 1vh; display: flex;">
                    <div id="profileImageReverse">
                      <p class="unselectable">
                        {{initials}}
                      </p>
                    </div>
                    <div style="margin-left: 1vw; padding-top: 1vh; font-family: 'Source Sans Pro';font-weight: 600;">
                      {{uname}}
                    </div>
                    <div>
                      <button class="btn btn-primary" style="width: 6vw; position: fixed; right : 7vw;" (click)="logout()">Logout</button>
                    </div>
                  </div>
                </a>
                <a class="unselectable" style="background-color:beige; font-family: 'Source Sans Pro';font-weight: 600; font-size: 15px; padding: 0;">FY : 2022-2023</a>
              </div>
            </div>
          </div> -->
      </div>

    </div>

    <div class="row hdr-row" style="max-height: 85vh; width: 100vw;">
      <div class="row" style="height: 100%;">
        <div class="sidebar" style="height: 82vh;">
          <app-leftsidebar style="height: 100%;"></app-leftsidebar>
        </div>
        <div id="main" *ngIf="!isMobile" style="padding-left: 3vw;padding-top: 3vh;padding-bottom: 0;height: 82vh;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>


  </div>
</div>
<div id="mainMob" id="back" *ngIf="isMobile">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{company}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="sidebar.url" (click)="snav.toggle()"
          *ngFor="let sidebar of SideBars">{{sidebar.sidebartext}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div id="mainBody">
    <router-outlet></router-outlet>
  </div>
</div>
