<div class="col" style="text-align:right">
    <button (click)="printComponent()">Print</button>
</div>

<div id="print" style="background-color: white;">

    <app-report-PageHeading></app-report-PageHeading>

    <h4 style="margin-left: 20px; font-weight: bold;">Daily Activity Paymode Wise Report from {{fromdt | date
        :'dd/MM/yyyy'}} To {{todt | date :'dd/MM/yyyy'}}
        <!-- <label style="margin-left: 100px; font-weight:normal;">PAGE NUMBER </label> -->
    </h4>
    <h4 style="margin-left: 20px; font-weight: bold;"> Payment Mode {{paymode}} </h4>

    <table class="table table-bordered border-primary" style="margin-left:10px ; width: 90%; font-size:smaller;">
        <thead>
            <!-- <th style="text-align: center ;">SID</th> -->
            <th style="background-color:darkgray !important; color:black; font-size:large;">Date</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Rec.No</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Time</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">UHID</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Patient</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Consultant</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; padding-right:20px ;">Paymode</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; padding-right:20px ;">Narration</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; padding-right:20px ;">Uname</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">BillAmt</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Disc.</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Refund</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Bal. Amt</th>
            <th style="background-color:darkgray !important; color:black; font-size:large;">Rec. Amt</th>
        </thead>

        <tbody>
            <ng-container *ngFor="let heading of headingMap | keyvalue">
                <tr>
                    <td colspan="12" style="text-align: center; font-size: large;"><b>{{heading.key}}</b></td>
                </tr>
                <ng-container *ngFor="let students of Students let i=index">
                    <ng-container *ngIf="students.Reporttype == heading.key ">
                        <tr>
                            <!-- <td style="width:30px;">{{i + 1}}</td> -->
                            <td style="font-size: large; width:80px ;">{{students.vchrDate | date :'dd/MM/yyyy' }}</td>
                            <td style="font-size: large; width:50px; ">{{students.vchrNo}}</td>
                            <td style="font-size: large; width:50px; ">{{students.vchrTime}}</td> 
                            <td style="font-size: large; width:50px; ">{{students.uhID}}</td>
                            <td style="font-size: large; width:120px;">{{students.PntName}}</td>
                            <td style="font-size: large; width:140px ; ;">{{students.condoctor}}</td>
                            <td style="font-size: large; width:40px; text-align: center ; ">{{students.paymode}}</td>
                            <td style="font-size: large; width:60px; text-align: center ; ">{{students.narration}}</td>
                            <td style="font-size: large; width:40px; text-align: center ; ">{{students.uname}}</td>
                            <td style="font-size: large; width:40px; text-align: right ;">{{students.grandTotal}}</td>
                            <td style="font-size: large; width:40px; text-align: right ;">{{students.discountAmt}}</td>
                            <td style="font-size: large; width:40px; text-align: right ;">{{students.refund}}</td>
                            <td style="font-size: large; width:40px; text-align: right ;">{{students.balamt}}</td>
                            <td style="font-size: large; width:40px; text-align: right ;">{{students.recamt}}</td>
              

                        </tr>
                    </ng-container>
                </ng-container>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-size: large; text-align: center ; font-weight: bold; ">TOTAL</td>
                    <td style="font-size: large; font-weight: bold; text-align: right ;">{{headwiseTotal.get(heading.key)}}</td>
                    <td style="font-size: large; font-weight: bold; text-align: right ;">{{headwiseTotaldis.get(heading.key)}}</td>
                    <td style="font-size: large; font-weight: bold; text-align: right ;">{{headwiseTotalrefund.get(heading.key)}}</td>
                    <td style="font-size: large; font-weight: bold; text-align: right ;">{{headwiseTotalbal.get(heading.key)}}</td>
                    <td style="font-size: large; font-weight: bold; text-align: right ;">{{headwiseTotalnet.get(heading.key)}}</td>
                </tr>
            </ng-container>
        </tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td style="font-size: large; text-align: right ; font-weight: bold; ">GRAND TOTAL</td>
        <td style="font-size: large; text-align: right ;  font-weight: bold;">{{totalgamt}}</td>
        <td style="font-size: large; text-align: right ; font-weight: bold;">{{totaldamt}}</td>
        <td style="font-size: large; text-align: right ; font-weight: bold;">{{totalramt}}</td>
        <td style="font-size: large; text-align: right ;  font-weight: bold;">{{totalbal}}</td>
        <td style="font-size: large; text-align: right ;  font-weight: bold;">{{totalnamt}}</td>
    </table>


</div>