<div class="col" style="text-align:right">
    <button (click)="printComponent()">Print</button>
    <button (click)="opdlist()">Close</button>
</div>

<div id="print" style="background-color: white;">
    
    <app-report-PageHeading></app-report-PageHeading>

    <h4 style="margin-left: 20px; font-weight: bold; margin-top: 4vh;">Summary Report from {{fromdt | date :'dd/MM/yyyy'}}
        To {{todt | date :'dd/MM/yyyy'}}  
        <label style="margin-left: 100px; font-weight:bold;">USER-ID.... {{fromuser}} </label>
    </h4>

    <table class="table table-bordered border-primary" style="width: 94%; font-size:smaller;">
        <thead>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Head</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Total</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Disc.</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Refund</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Bal. Amt</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Rec. Amt</th>
            <th style="background-color:darkgray !important; color:black; font-size:large; text-align: center ;">Count</th>
        </thead>

        <tbody>
            <ng-container *ngFor="let heading of headingMap | keyvalue">
                <tr>
                    <td colspan="12" style="font-size: large; text-align: center;"><b>{{heading.key}}</b></td>
                </tr>
                <ng-container *ngFor="let students of Students let i=index">
                    <ng-container *ngIf="students.paymode == heading.key ">
                        <tr>
                            <!-- <td style="width:30px;">{{i + 1}}</td> -->
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.Reporttype}}</td>
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.grandTotal}}</td>
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.discountAmt}}</td>
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.refund}}</td>
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.balamt}}</td>
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.recamt}}</td>
                            <td style="font-size: large; width:40px; font-size: large; text-align: right;">{{students.uhID}}</td>

                        </tr>
                    </ng-container>
                </ng-container>
                <tr>
                    <td style="font-size: large; text-align: right; font-weight: bold; ">TOTAL</td>
                    <td style="font-size: large; text-align: right;font-weight: bold;">{{headwiseTotal.get(heading.key)}}</td>
                    <td style="font-size: large; text-align: right; font-weight: bold;">{{headwiseTotaldis.get(heading.key)}}</td>
                    <td style="font-size: large; text-align: right; font-weight: bold;">{{headwiseTotalrefund.get(heading.key)}}</td>
                    <td style="font-size: large; text-align: right; font-weight: bold;">{{headwiseTotalbal.get(heading.key)}}</td>
                    <td style="font-size: large; text-align: right; font-weight: bold;">{{headwiseTotalnet.get(heading.key)}}</td>
                    <td style="font-size: large; text-align: right;font-weight: bold;">{{headwiseTotalcount.get(heading.key)}}</td>
            </tr>
            </ng-container>
        </tbody>
            <td style="font-size: large; text-align: right; font-weight: bold; ">GRAND TOTAL</td>
            <td style="font-size: large; text-align: right; font-weight: bold;">{{totalgamt}}</td>
            <td style="font-size: large; text-align: right; font-weight: bold;">{{totaldamt}}</td>
            <td style="font-size: large; text-align: right;  font-weight: bold;">{{totalramt}}</td>
            <td style="font-size: large; text-align: right;  font-weight: bold;">{{totalbal}}</td>
            <td style="font-size: large; text-align: right; font-weight: bold;">{{totalnamt}}</td>
            <td style="font-size: large; text-align: right; font-weight: bold;">{{totalcount}}</td>
        
    </table>


</div>