<!-- CSS only -->
<div class="col-12 text-right" style="padding:1vw;">
    <button style="margin-right: 1%; " class="btn btn-primary " *ngIf = "registration" (click)="newreg()">Add Registration</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf = "showrecipts"  (click)="openDialogreceipts()" >Receipts</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf = "showparcha"  (click)="openDialogparcha()" >Parcha</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf = "showrefund" (click)="openDialogrefund()" >Refund</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf = "showpayment" (click)="openDialogpmode()">Paymode Change</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf = "showdoctor" (click)="openDialogdoctor()">Consultant Change</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf = "showdoctor" (click)="Medicalcerficate()">Medical Certificate</button>
    <div class="input-group" style="padding-top: 1vh;">
        <select type="text" style=" font-size:small; margin-left:2px; width:90px ;"  [(ngModel)]=Choice>
          <option value="ALL">ALL</option>
          <option value="Patient">Patient</option>
          <option value="Consultant">Consultant</option>
          <option value="Department">Department</option>
          <option value="UHID">UHID</option>
        </select>
        <input style="font-size:small; margin-left:5px; width:100px ;" type="date" [(ngModel)]=vrdt1 >
        <input style="font-size:small; margin-left:5px; width:100px ;" type="date" [(ngModel)]=vrdt2 >
        <input  style="font-size:small; margin-left:5px;" type="search" class="form-control rounded" (keyup)="searchdirect()" [(ngModel)]=search />
        <button  style="font-size:small; margin-left:5px; " class="btn btn-success" *ngIf = "showsearch" (click)="searchquery()">Search</button>
      </div>
    </div>  
      <table class="table table-bordered table-striped table-condensed cf">
        <thead  class="cf" style="color:white; font-family: Arial, Helvetica, sans-serif;" >
          <tr>
            <th ></th>
            <th >SNo</th>
            <th >OPDNo</th>
            <th >UHID</th>
            <th >OPD..Date</th>
            <th >T</th>
            <th >Patient</th>
            <th >Age</th>
            <th >Years</th>
            <th >Sex</th>
            <th >Consutlant</th>
            <th >Amt</th>
            <th >Disc</th>
            <th >Refund</th>
            <th >RecAmt</th>
            <th >PMode</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let students of OPD let i=index " >
            <td><input name="options" ng-control="options" type="radio" [value]="students" [(ngModel)]=selected ></td>
            <td >{{i + 1}}</td>
            <td >{{students.dcmntNo}}</td>
            <td>{{students.uhID}}</td>
            <td>{{students.opdDate}}</td>
            <td >{{students.pntn}}</td>
            <td>{{students.pntName}}</td>
            <td>{{students.pntAgeYrs}}</td>
            <td>{{students.agey}}</td>
            <td>{{students.pntSex}}</td>
            <td>{{students.dctrVisited}}</td>
            <td>{{students.amt}}</td>
            <td>{{students.discount}}</td>
            <td>{{students.refund}}</td>
            <td>{{students.srvcTax}}</td>
            <td>{{students.paymode}}</td>

            <div class="btn-group" role="group" >
              <button class="btn btn-primary btn-rounded" (click)="testbooking(students.dcmntNo,students.uhID)" >Test</button>
              <button class="btn btn-primary btn-rounded" (click)="admitpatient(students.dcmntNo,students.opdDate)" >Admit</button>
            <!-- <td *ngIf = "editregistration"> <a><button  class="btn"><i class="fa fa-edit" type="button"(click)="onEdit(students.uhID,students.opdDate)"></i> </button></a></td> -->
            <td *ngIf = "delregistration"><a><button class="btn"><i class="fa fa-trash" type="button" (click)="delete(students)"  ></i> </button></a></td>
            <button class="btn btn-primary btn-rounded" (click)="EMR(students.dcmntNo,students.opdDate)" >OPD</button>
            </div>
          </tr>
        </tbody>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>

                <td style="text-align: center ; font-weight: bold; ">TOTAL</td>
                <td style="text-align: center ;  font-weight: bold;">{{totalamt}}</td>
                <td style="text-align: center ;  font-weight: bold;">{{totaldis}}</td>
                <td style="text-align: center ;  font-weight: bold;">{{totalrefund}}</td>
                <td style="text-align: center ;  font-weight: bold;">{{totalrecamt}}</td>
        </table>

