.btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

tr:hover {background-color:grey;}

th{
  width: 57; 
  background-color: rgb(3, 94, 140) !important;
  height:40px; 
  padding-bottom: 6px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  }

  

.item{
margin-bottom:1vw;
margin-right:3vw;
}

#textbox{
/* margin-right: 1vw; */
margin-bottom: 2vh;
}

input{
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.rowGroup{
  flex-direction:  row;
  overflow: auto;
  margin-top: 1vw;
}

.columnGroup{
  flex-direction:  column;
  overflow-y: auto;
  max-height: 60vh;
}
