<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class="col" style="text-align:right">
    <button (click)="printComponent()">Print</button>
</div>
<div id="print" style="background-color: white;">
    <app-report-PageHeading></app-report-PageHeading>
    <h2 style="text-align: center;">PACKAGE INFORMATION</h2>
    <div class="row">
        <div class="col" style="margin-top: 5vh;">
            <label style="font-size:large; font-weight: bold; margin-left:20px;" type="dcmntno">FileNo</label>
            <input style="font-size:large; margin-left:30px; width:50px ; border:none ; " readonly="true"
                [(ngModel)]=dcmntNo>
            <label style="font-size:large; font-weight: bold; margin-left:10px;" for="uhID">UHID</label>
            <input style="font-size:large; margin-left:5px; width:75px ;border:none ; " readonly="true"
                [(ngModel)]=OPD.uhID>
            <input hidden="true" style="font-size:small; margin-left:5px; width:75px ;border:none ; " readonly="true"
                [(ngModel)]=OPD.uhID>

            <label style="font-size:large; font-weight: bold; margin-left:10px;" for="uhID">Patient Type</label>
            <input style="font-size:large; margin-left:5px; width:95px ;border:none ; " readonly="true"
                [(ngModel)]=OPD.PntType>

            <br>
            <label style="font-size:large;  font-weight: bold; margin-left:20px;" type="dcmntno">Patient Name</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:15px; width:50px ; "
                readonly="true" [(ngModel)]=OPD.pntn type="pntn">
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:550px ; "
                [(ngModel)]=OPD.pntName readonly="true">

            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:40px ; "
                [(ngModel)]=OPD.pntAgeYrs readonly="true">
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:60px ; "
                [(ngModel)]=OPD.pntSex readonly="true">
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:75px ; "
                [(ngModel)]=OPD.agey readonly="true">

            <br>
            <label style="font-size:large; font-weight: bold; margin-left:20px;" for="pntg">Guardian</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:50px; width:50px ; "
                [(ngModel)]=OPD.pntg readonly="true">
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:730px ;  "
                [(ngModel)]=OPD.pntGrdn readonly="true">


            <br>
            <label style="font-size:large; font-weight: bold; margin-left:20px;" for="pntg">Address</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:780px ; margin-left:55px; "
                [(ngModel)]=OPD.pntAdrs1 readonly="true">


            <br>
            <label style="font-size:large; font-weight: bold; margin-left:20px;" for="pntg">City</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:450px ; margin-left:90px; "
                [(ngModel)]=OPD.pntCity readonly="true">

            <label style="font-size:large; font-weight: bold; margin-left:15px;" for="pntg">Mobile</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; width:250px ; margin-left:15px; "
                [(ngModel)]=OPD.pntMobile readonly="true">
            <br>
            <label style="font-size:large; font-weight: bold; margin-left:20px;">D.O.A.</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:70px; width:155px ; "
                [(ngModel)]=OPD.opdDate type="Date" readonly="true">
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:5px; width:305px ; "
                [(ngModel)]=OPD.opdTime readonly="true">

            <label style="font-size:large; font-weight: bold; margin-left:5px;">D.O.D.</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:5px; width:125px ; "
                [(ngModel)]=vchrDate type="Date">
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:5px; width:135px ; "
                [(ngModel)]=vchrTime>
            <br>
            <label style="font-size:large;font-weight: bold;  margin-left:20px;" for="condoctor">Diagnosis</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:40px; width:790px ;  "
                [(ngModel)]=OPD.Dignosis>
            <br>
            <label style="font-size:large; font-weight: bold; margin-left:20px;" for="condoctor">Consultant</label>
            <b><input
                    style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap; margin-left:35px; width:400px ; "
                    [(ngModel)]=OPD.dctrVisited readonly="true"></b>

            <label style="font-size:large; font-weight: bold; margin-left:5px;" for="condoctor">Ref Doctor</label>
            <input
                style="font-size:large; border-left: none;border-right: none;border-top: none;border-bottom:1cap;margin-left:5px; width:290px ; "
                [(ngModel)]=OPD.rfrdBy readonly="true">

            <br><br>
            <label style="font-size:large; font-weight: bold; margin-left: 60px;  width: 90%;"> Total Package Amount</label>
            <label style=" font-size:large; font-weight: bold; margin-left: 60px;  width: 90%;"> FOR PACKAGE INCLUDE MEDICINE 	      ……………………(YES)         ……………………….(NO)</label>
            <label style=" font-size:large; font-weight: bold; margin-left: 60px;  width: 90%;"> FOR PACKAGE INCLUDE PATHOLOGY     …………………(YES )        ……………………...(NO)  </label>
            <label style="font-size:large; font-weight: bold; margin-left: 60px;  width: 90%;"> ANY CHARGE INCLUDE   ………………………………………………………………………………………………(YES/NO)</label>
            <label style="font-size:large; font-weight: bold; margin-left: 60px;  width: 90%;"> ANY INFORMATION FOR PATIENTS  ……………………………………………………………………..........................
                …………………………………………………………………………………………………………………………………………..(YES/NO)
                </label>

            <br><br><br><br>
            <label style="font-weight: bold; margin-left: 40px;">SIGNATURE OF RECEPTIONIST_________________SIGNATURE OF DOCTOR_________________
            SIGNATURE OF ATTENDENT_________________</label>
                    <br><br>
                <label style="font-weight: bold; margin-left: 40px;">( FOR PATIENT REATION ) </label>
                <br><br>
                
        </div>
    </div>
</div>