<div on-mouseover="hideTooltip()">
<div class="col-12 text-right">
     <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary" *ngIf = "showregistration" (click)="newreg()"        >Add Registration</button>
     <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showpaydetails" (click)="paymentdetails()">Payment Details</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showpayreceived" (click)="payment()"       >Payment Received</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showtestbooking" (click)="testbooking()"   >TestBooking</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showbilling" (click)="billing()"       >Billing</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showdischarge" (click)="billdischarge()" >Discharge</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showroomshift" (click)="roomshifting()"  >Room Shifting</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showfiledocument" (click)="Document()"      >File Document</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showmlc" (click)="MLC()"      >MLC</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showdischargecard" (click)="dischargecard()" >Discharge Card</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showEcertificate" (click)="emercer()"  >Emergency Certificate</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showfullpayment" (click)="fullpayment()"  >Full Payment</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showsticker" (click)="sticker()" >Sticker</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showgatepass" (click)="gatepass()" >Gate Pass</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showreportrec" (click)="reportrec()" >Report Received</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showconchange" (click)="doctorchange()">Consultant Change</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-info "  *ngIf = "showbloodtrans"  >Blood Transfusion</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showdueslip" (click)="paymentstatus()">Due Slip</button>
    <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary " *ngIf = "showdischargecert" (click)="discertificate()">Discharge Certificate</button>
</div>
<div class="input-group"  >
    <select type="text" style=" font-size:small; margin-left:15px; width:90px ;"  [(ngModel)]=Choice>
      <option value="ALL">ALL</option>
      <option value="Patient">Patient</option>
      <option value="Gender">Gender</option>
      <option value="Consultant">Consultant</option>
      <option value="Department">Department</option>
      <option value="Ward">Ward</option>
      <option value="Type">Type</option>
    </select>
    <input  style="font-size:small; margin-left:5px;" type="search" class="form-control rounded"  (keyup)="searchdirect()" [(ngModel)]=search />
    <button  style="font-size:small; margin-left:5px; " class="btn btn-success" *ngIf = "showsearch" (click)="searchquery()">Search</button>
  </div>
<div>
    <table  class="table table-bordered table-striped " style="padding-left: 0%;" >
        <thead  style="color:white; font-family: Arial, Helvetica, sans-serif;">
          <tr>
            <th ></th>
            <th >SN</th>
            <th >IPD</th>
            <th >UHID</th>
            <th >PT</th>
            <th >Patient</th>
            <th >Age</th>
            <th >Years</th>
            <th >Sex</th>
            <th >Guardian</th>
            <th >Address</th>
            <th >Consutlant</th>
            <th >Type</th>
            <th >Admit Date</th>
            <th >Time</th>
            <th >Ward Name</th>
            <th >RNo</th>
            <th >BN</th>
            <th >Condition</th>
            <th *ngIf = "showipdedit">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let students of OPD let i=index;"  on-mouseover="loaddata(students,$event)" class="CellWithComment"  style="text-align:center;"  >
          <td><input name="options" ng-control="options" type="radio" [value]="students"  [(ngModel)]=selected></td>
          <td > {{i + 1}}</td>
          <td>{{students.dcmntNo}}</td>
          <td>{{students.uhID}}</td>
          <td >{{students.pntn}}</td>
          <td>{{students.pntName}}</td>
          <td>{{students.pntAgeYrs}}</td>
          <td>{{students.agey}}</td>
          <td>{{students.pntSex}}</td>
          <td>{{students.pntGrdn}}</td>
          <td>{{students.pntAdrs1}}</td>
          <td>{{students.dctrVisited}}</td>
          <td>{{students.PntType}}</td>
          <td>{{students.opdDate}}</td>
          <td>{{students.opdTime}}</td>
          <td>{{students.category}}</td>
          <td >{{students.roomNo}}</td>
          <td >{{students.Bedno}}</td>
         
          <td><a style="font-size:small; cursor: pointer; color: blue;" (click) ="statuschange(students)" >{{students.cond}}</a></td>
          <div class="btn-group" role="group" >
          <td *ngIf = "showipdedit"> <a><button  class="btn" ><i  class="fa fa-edit" type="button"  (click)="edit(students.dcmntNo,students.uhID)"></i> </button></a></td>
          </div>
        </tr>
        </tbody>
    </table>
</div>
<app-ipd-tool-tip id="tooltip" style="display: none;" [x]="mouseX" [y]="mouseY" [hoverDcmntNo]="hoverDcmntNo" [hoverUhID]="hoverUhID"></app-ipd-tool-tip>
<br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br>
</div>