<div style="border-style: 0px solid; height: 100%; border-radius: 5px; border-width: 1px;">
  <div>
    <div class ="row" style="font-family: 'Source Sans Pro';font-weight: 600; color: black;padding-left: 1vw;">
      <div class ="col">
        <p style="font-size: 18px;">Test Booking</p>
      </div>
    </div>
    <div>
    <div class = "row" style="padding-left: 1vw; margin-top: 1vh;">
      <div class="user-box col-2"  >
        <input type="search" name="" required="" [(ngModel)]=search>
        <label>by UHID</label>
      </div>
      <div class = "col-1" >
        <button class="btn btn-primary" (click)="searchquery()" style="width: 6vw; margin-top: 1vh;">Search</button>
      </div>
      <div class="col-7" style="margin-left: 8vw;">
        <div class = "row" >
        <div class="user-box-small">
          <input type="text" name="" required="" disabled="true" [(ngModel)]=Students.vchrNo>
          <label>RegNo</label>
        </div>
        <div class="user-box-small">
          <input style="width: 6vw;" type="date" name="" required="" disabled="true" [(ngModel)]=Students.vchrDate>
          <label>Date</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled="true" [(ngModel)]=Students.vchrTime>
          <label>Time</label>
        </div>
        <ng-container>
          <div class="user-box-small">
            <input type="text" name="" required="" disabled="true" [(ngModel)]=Students.uhID>
            <label>UHID</label>
          </div>
        </ng-container>
        <ng-container>
          <div class="user-box-small">
            <input type="text" name="" required="" disabled="true" [(ngModel)]=Students.dcmntNo>
            <label>IPD No</label>
          </div>
        </ng-container>
        <ng-container>
          <div  class="user-box-small">
            <input type="text" name="" required="" disabled="true" [(ngModel)]=Students.Sno>
            <label>SID</label>
          </div>
        </ng-container>
      </div>
      </div>
    </div>
  
    </div>
    <div class ="row" style="margin-top:1vw ;padding-left: 1vw;">
      <div class="user-box-small"  >
        <select (change)="patienttypevalidation()" [(ngModel)]=Students.dcmntType onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option value="Direct">Direct</option>
          <option value="OPD">OPD</option>
          <option value="IPD">IPD</option>
        </select>
        <label>Type</label>
      </div>
      
      <div class="user-box-small"  >
        <select (change)="populate()" [(ngModel)]=Students.pntn onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Miss">Miss</option>
          <option value="Master">Master</option>
          <option value="Baby">Baby</option>
          <option value="B/o">B/o</option>
        </select>
        <label>Title</label>
      </div>
    
      <div class="user-box-big" style="margin-right: 1vw;">
        <input type="text" name="" required="" maxlength="50" [(ngModel)]=Students.PntName >
        <label>Patient</label>
      </div>

      <div class="user-box-small"  >
        <input type="text" name="" required="" maxlength="3"  [(ngModel)]=Students.pntage >
        <label>Age</label>
      </div>
    
      <div class="user-box-small"  >
        <select [(ngModel)]=Students.pntyears onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option value="Years">Years</option>
          <option value="Months">Months</option>
          <option value="Days">Days</option>
          <option value="Hrs">Hrs</option>
        </select>
        <label>Years</label>
      </div>

      <div class="user-box-small"  >
        <select [(ngModel)]=Students.pntsex onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <label>Gender</label>
      </div>

      <div class="user-box-small"  >
        <select [(ngModel)]=Students.pntg onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option value="S/o">S/o</option>
          <option value="W/o">W/o</option>
          <option value="D/o">D/o</option>
          <option value="C/o">C/o</option>
        </select>
        <label>Title</label>
      </div>
    
      <div class="user-box"  >
        <input  maxlength="50" type="text" [(ngModel)]=Students.Pntgname style="width: 10vw;">
        <label>Guardian</label>
      </div>

    </div>
    <div class ="row" style="margin-top:1vw ;padding-left: 1vw;">
      <!-- <div class="user-box"  >
        <input  type="text" maxlength="100" [(ngModel)]=Students.email >
        <label>Email</label>
      </div> -->

       <div class="user-box"  >
        <input  type="text" maxlength="10" [(ngModel)]=Students.pntmobile >
        <label>Mobile</label>
      </div>

      <div style="margin-left: 1vw;" class="user-box-big"  >
        <input  type="text" maxlength="150" [(ngModel)]=Students.pntadd >
        <label>Address</label>
      </div>

      <div class="user-box"  >
        <select [(ngModel)]=Students.pntcity onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option *ngFor="let city of Cityname">
            {{city.citynam}}
          </option> 
        </select>
        <label>City</label>
      </div>

      <div style="margin-left: 1vw;" class="user-box"  >
        <select [(ngModel)]=Students.labto onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option *ngFor="let lab of Labname">
            {{lab.labname}}
          </option>
        </select>
        <label>Outside Lab</label>
      </div> 
      
      <div style="margin-left: 1vw;" class="user-box-big"  >
        <select [(ngModel)]=Students.condoctor onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option *ngFor="let students of consulant">
            {{students.dctName}}
          </option> 
        </select>
        <label>Ref Consultant</label>
      </div>

    </div>
    <div class ="row" style="margin-top:1vw ;padding-left: 1vw;">
      <div class="user-box-big"  >
        <select [(ngModel)]=test.itmName (change)="selectTest($event)" id="ItemName" onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option *ngFor="let test of testmaster" >
            {{test.chrgsName}}
          </option> 
        </select>
        <label>Test Name</label>
      </div>

      <div class="user-box-small"  >
        <input  type="text" [(ngModel)]=test.itmQty (change)="getAmount()" >
        <label>Qty</label>
      </div>

      <div class="user-box-small"  >
        <input  type="text" [(ngModel)]=test.itmChrgs (change)="getAmount()" >
        <label>Rate</label>
      </div>

      <div class="user-box-small"  >
        <input  type="text" disabled="true" [(ngModel)]=test.totalAmt >
        <label>Amount</label>
      </div>

      <div class="user-box-small"  >
        <input  type="text" disabled="true" [(ngModel)]=test.chtype >
      </div>
      
      <button type="button" style="width:6vw;" class="btn btn-info" (click)="addItem()">Add</button>

    </div>
    <div class ="row" style="margin-top:1vw ;padding-left: 1vw;">
      <table class="table table-bordered" ng-app="myapp" ng-controlier="Mycontroler" style="width: 95%;" >
      <thead>
      <tr>
        <th >Sno</th>
          <th>TestName</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead> 
    <tbody>
        <tr *ngFor="let item of Students.tests let i=index;">
          <td> {{i + 1}}</td>
          <td>{{item.itmName}}</td>
          <td >{{item.itmQty}}</td>
          <td >{{item.itmChrgs}}</td>
          <td>{{item.totalAmt}}</td>
          <td>{{item.chtype}}</td>
          <td><a><button  style="margin-left:10px; padding:0px;padding-right:0px ; " class="btn btn-danger" (click)="delete(item.itmName)">X</button> </a></td>
      </tr>
    </tbody>

      </table>
    </div>
    <div class ="row" style="margin-top:1vw ;padding-left: 1vw;">
      <div class="user-box"  >
        <input  type="text" [(ngModel)]=Students.recamt (change)="getPaidAmount()" >
        <label>Paid Amount</label>
      </div>

      <div style="margin-left: 1vw;" class="user-box"  >
        <input  type="text" [(ngModel)]=Students.balamt >
        <label>Balance Amount</label>
      </div>

      <div style="margin-left: 1vw;" class="user-box"  >
        <input  type="text" [(ngModel)]=Students.grandTotal (keyup)="getNetAmount()"  >
        <label>Total Amount</label>
      </div>

      <div style="margin-left: 1vw;" class="user-box-small"  >
        <input  type="text" [(ngModel)]=Students.disper (keyup)="getdisper()"  >
        <label>Discount %</label>
      </div>
      <div class="user-box-small"  >
        <input  type="text"  [(ngModel)]=Students.discountAmt (change)="getNetAmount()" (keyup)="getdiscAmount()"  >
        <label>Discount</label>
      </div>

      <div class="user-box"  >
        <input  type="text" [(ngModel)]=Students.billamt >
        <label>Net Amount</label>
      </div>

    </div>
    <div class ="row" style="margin-top:1vw ;padding-left: 1vw;">

      <div class="user-box-small"  >
        <select [(ngModel)]=Students.discountby onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option value="D">D</option>
          <option value="L">L</option>
        </select>
        <label>Discount by</label>
      </div>

      <div  class="user-box"  >
        <input  type="text"  [(ngModel)]=Students.disresion >
      </div>

      
      <div style="margin-left: 1vw;" class="user-box"  >
        <select [(ngModel)]=Students.paymode onchange=" this.dataset.chosen = this.value; " >
          <option value="" disabled selected>Select</option>
          <option *ngFor="let group of group">
            {{group.paymode}}
          </option> 
        </select>
        <label>Paymode</label>
      </div>

      <div style="margin-left: 1vw;" class="user-box"  >
        <input  type="text" [(ngModel)]=Students.narration >
        <label>Narration</label>
      </div>

      <button style="width: 6vw;margin-left: 12vw;" type="submit" class="btn btn-success" (click)="onSubmit()">SAVE</button>

    </div>
  </div>
</div>