<div style="border-style: 0px solid; height: 100%; border-radius: 5px; border-width: 1px;">
    <div>
        <div class="row" style="font-family: 'Source Sans Pro';font-weight: 600; color: black;padding-left: 1vw;">
            <div class="col-2">
                <p style="font-size: 18px;">Test Master</p>
            </div>
        </div>
        <div class="row">
            <div class="user-box-small">
                <input type="text" [(ngModel)]=testmasterm.Testid>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="reload()" style="width: 5vw; margin-top: 1vh;">Refresh</button>
            </div>
            <div class="col-2 " hidden="true">
                <div class="user-box ">
                    <input type="text" name="" required="" [(ngModel)]=testname.TestName>
                    <label>TestName</label>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 1vh;">
            <div class="user-box-small">
                <input type="text" name="" required="" [(ngModel)]=testname.Testcode>
                <label>Test Code</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="" [(ngModel)]=testname.TestName>
                <label>TestName</label>
            </div>
        </div>

        <div class="row" style="margin-top: 1vh;">
            <div class="user-box-small">
                <input type="text" name="" required="" [(ngModel)]=testname.Price>
                <label>Test Rate</label>
            </div>

            <div class = "col" >
            <div class="user-box">
                <select [(ngModel)]=testname.testgroup >
                  <option >Select</option>
                  <option *ngFor="let grp of group">
                    {{grp.group_name}}
                  </option>
                </select>
              </div>
            </div>

         </div>
        <div class="row" style="margin-top: 3vh;">
            <div class="user-box-small" >
                <select [(ngModel)]=testmasterm.subgroup>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
                <label>SubTest</label>
            </div>

            <div class="user-box">
                <select [(ngModel)]=testmasterd.Remark>
                    <option value="N">Numeric</option>
                    <option value="W">Word</option>
                    <option value="P">Profile</option>
                </select>
                <label>TestType</label>
            </div>
        </div>

        <ng-container>
            <div class="row" style="margin-top: 3vh;">
                <div class="user-box-small">
                    <input type="text" name="" required="" [(ngModel)]=testmasterd.testorder>
                    <label>Sno</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" [(ngModel)]=testmasterd.TestsubName>
                    <label>Sub Test Name</label>
                </div>
                <div class="user-box-small">
                    <input type="text" name="" required="" [(ngModel)]=testmasterd.SubUnit>
                    <label>Unit</label>
                </div>
                <div class="user-box-small">
                    <input type="text" name="" required="" [(ngModel)]=testmasterd.normalvalue>
                    <label>Normal</label>
                </div>
                <div class="user-box-small">
                    <input type="text" name="" required="" [(ngModel)]=testmasterd.male>
                    <label>Male</label>
                </div>
                <div class="user-box-small">
                    <input type="text" name="" required="" [(ngModel)]=testmasterd.female>
                    <label>Female</label>
                </div>
                <div class="user-box-small" >
                    <select [(ngModel)]=testmasterd.Wordcode >
                      <option ng-value="NR">NR</option>
                      <option *ngFor="let test of Wordname "  >
                        {{test.Wordcode}}
                      </option>
                    </select>
                  </div>
                <button class="btn btn-primary" style="width:2vw; margin-top: 1vh;" (click)="addItem()">+</button>
            </div>            

        </ng-container>
        <div class="row" style="margin-top:1vw ;">
            <table class="table table-bordered" ng-app="myapp" ng-controlier="Mycontroler">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>TestSubName</th>
                        <th>Unit</th>
                        <th>Normal</th>
                        <th>Male</th>
                        <th>Female</th>
                        <th>Remark</th>
                        <th>WCode</th>
                        <th>intp</th>
                        <th>Comt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let test of list let i=index;">
                        <td> {{test.testorder}}</td>
                        <td> {{test.TestsubName}}</td>
                        <td> {{test.SubUnit}}</td>
                        <td> {{test.normalvalue}}</td>
                        <td> {{test.male}}</td>
                        <td> {{test.female}}</td>
                        <td></td>
                        <td>{{test.Wordcode}}</td>
                    </tr>
                </tbody>

            </table>
        </div>


    </div>