<div style="border-style: 0px solid; height: 100%; border-radius: 5px; border-width: 1px;">
    <div>
    <div class ="row" style="font-family: 'Source Sans Pro';font-weight: 600; color: black;padding-left: 1vw;">
        <div class ="col">
            <p style="font-size: 18px;">Test Master</p>
        </div>
    </div>

    <div class = "row" style="padding-left: 1vw; margin-top: 1vh;">
        <div class="user-box col-2"  >
            <input type="text" name="" required="" >
            <label>Test Id</label>
        </div>
        <div class="user-box col-2"  >
            <input type="text" name="" required="" >
            <label>Department</label>
        </div>
        <div class="user-box" >
            <input type="text" name="" required=""  style="width: 14vw;" >
            <label>Group</label>
        </div>
        <div class = "col-1" style="margin-left: 4vw;">
            <button class="btn btn-primary" style="width: 5vw; margin-top: 1vh;" >Add</button>
        </div>
      
    </div>    

    <div class = "row" style="padding-left: 1vw; margin-top: 1vh;">
    </div>
</div>