<div class="row" >
    <div class="col" style="margin-left: 50px;" id="printsection">
           <h2>Consultant Change </h2>
           <div class="user-box">
            <select  (change)="selectdepartment()" [(ngModel)]=OPD.caseType
              onchange=" this.dataset.chosen = this.value; ">
              <option value="" disabled selected>Select</option>
              <option *ngFor="let students of department">
                {{students.caseType}}
              </option>
            </select>
            <label>Department</label>
          </div>
            <br>
            <div class="user-box" style="width: 26vw;max-width: 100%; margin-right:1vw">
              <select style="width: 26vw;" [(ngModel)]=OPD.dctrVisited
                onchange=" this.dataset.chosen = this.value; ">
                <option *ngFor="let students of consulant" value="{{students.dctName}}">
                  {{students.dctName}}
                </option>
              </select>
              <label>Consultant</label>
            </div>
              <br>
            <label style="font-size:medium;" for="refund">OPD Amount</label>
           <input style="font-size:small; margin-left:15px; width:50px ;" [(ngModel)]=OPD.amt  type="amt" >

           <label style="font-size:medium; margin-left:5px;" for="srvcTax">Discount Amount</label>
           <input style="font-size:small; margin-left:5px; width:50px ;" (ngModelChange)="getNetAmountByPercent($event)"  [(ngModel)]=OPD.discount   type="discount" >
           <br>
           <label style="font-size:medium;" for="srvcTax">Refund Amt</label>
           <input style="font-size:small; margin-left:22px; width:50px ;"  (ngModelChange)="getNetAmountByPercentr($event)"  [(ngModel)]=OPD.refund   type="refund" >

           <label style="font-size:medium; margin-left:15px;" for="srvcTax">Net Amount</label>
           <input style="font-size:small; margin-left:45px; width:50px ;" [(ngModel)]=OPD.srvcTax disabled="true"  type="srvcTax" >
            <br><br>

            <br><br><br><br>
            <input style="font-size:small; color: white; background-color: darkslategrey; width:50px ; height: 40px; " disabled="true" [(ngModel)]=OPD.pntn type="pntn"  >
            <input style="font-size:small; color: white; background-color: darkslategrey;  width:350px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntName type="pntName"  >
            
            <input style="font-size:small; color: white; background-color: darkslategrey; width:40px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntAgeYrs type="pntAgeYrs" >
            <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntSex type="pntSex" >
            <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;"  disabled="true" [(ngModel)]=OPD.agey type="agey">
 
           
            <br>
            <label style="font-size:medium; margin-left:15px;" type="dcmntno"  >Reg No</label>
            <input style="font-size:small; margin-left:30px; width:50px ; " disabled="true" [(ngModel)]=OPD.dcmntNo  type="dcmntno"  >
            <label style="font-size:medium; margin-left:10px;" for="uhID">UHID</label>
            <input style="font-size:small; margin-left:5px; width:75px ;" disabled="true" [(ngModel)]=OPD.uhID type="uhID" >
            <br>
            <label  style="font-size:medium; margin-left:15px;" for="pntg">Guardian</label>
            <input   style="font-size:small; margin-left:15px; width:55px ;  " disabled="true"  [(ngModel)]=OPD.pntg type="pntg"  >
            <input   style="font-size:small; width:250px ; " disabled="true"  [(ngModel)]=OPD.pntGrdn type="pntGrdn" >
 
            <br>
            <label   style="font-size:medium; margin-left:15px;" for="condoctor">Consultant</label>
            <input  style="font-size:small; margin-left:5px; width:305px ; " disabled="true" [(ngModel)]=doctor  >
            <br><br><br><br>

            <button class="btn btn-success" (click)="onsave()">SAVE</button>
            <button class="btn btn-danger btn-rounded" (click)="onNoClick()">Discard</button>
        </div>
        
</div>
