<body>
    <div class="row">
        <div class="col-3">
            <input
                style="font-size:large; font-weight: bold; margin-top: 3vh; margin-left:20px; width:300px ; border:none ; color: black; background-color: white;"
                disabled="true" [(ngModel)]=OPD.dctrVisited type="dctrVisited">
            <input
                style="font-size:medium; margin-left:20px; width:300px ; border:none ; color: black; background-color: white;"
                disabled="true" [(ngModel)]=consulant.digree type="text">
            <input
                style="font-size:medium; margin-left:20px; width:300px ; border:none ; color: black; background-color: white;"
                disabled="true" [(ngModel)]=consulant.digree1 type="text">
            <input
                style="font-size:medium; margin-left:20px; width:300px ; border:none ; color: black; background-color: white;"
                disabled="true" [(ngModel)]=consulant.digree2 type="text">
            <input
                style="font-size:medium; margin-left:20px; width:300px ; border:none ; color: black; background-color: white;"
                disabled="true" [(ngModel)]=consulant.digree3 type="text">

        </div>
        <div class="col" style="text-align:right">
            <button (click)="printComponent()">Print</button>
            <button (click)="opdlist()">Close</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div>
                <label style="font-size:medium; font-weight: bold; margin-left:25px; margin-top: 3vw;"
                    type="dcmntno">OPD NO</label>
                <input
                    style="font-size:small; margin-left:65px; width:50px ;  border:none ; color: black; background-color: white;"
                    disabled="true" [(ngModel)]=OPD.dcmntNo type="dcmntno">

                <label style="font-size:medium; font-weight: bold; margin-left:0%; margin-top: 3vw; ">Date</label>
                <input
                    style="font-size:small; margin-left:40px; width:100px ; border:none ; color: black; background-color: white;"
                    disabled="true" [(ngModel)]=OPD.opdDate type="Date">
            </div>
            <div>
                <label style="font-size:medium; font-weight: bold; margin-left:25px; " for="pntn">Patient Name</label>
                <input style="margin-left:30px; width:50px; border:none ;color: black; background-color: white; "
                    disabled="true" [(ngModel)]=OPD.pntn type="pntn">
                <input
                    style="font-size:small; margin-left:10px; width:150px; border:none ; color: black; background-color: white; "
                    disabled="true" [(ngModel)]=OPD.pntName type="pntName">
            </div>

            <div>
                <label style="font-size:medium; font-weight: bold; margin-left:25px;" for="pntn">Age/Gender</label>
                <input
                    style="font-size:small; margin-left:40px; width:45px ; border:none ; color: black; background-color: white; "
                    disabled="true" [(ngModel)]=OPD.pntAgeYrs type="pntAgeYrs">
                <input
                    style="font-size:small; margin-left:15px; width:60px ;border:none ; color: black; background-color: white; "
                    disabled="true" [(ngModel)]=OPD.pntSex type="pntSex">
                <input
                    style="font-size:small; margin-left:5px; width:60px ; border:none ; color: black; background-color: white; "
                    disabled="true" [(ngModel)]=OPD.agey type="agey">
            </div>
            <div>
                <label style="font-size:medium; font-weight: bold; margin-left:25px;" for="pntCity">City</label>
                <input
                    style="font-size:small; margin-left:100px; width:150px ; border:none ; color: black; background-color: white; "
                    disabled="true" [(ngModel)]=OPD.pntCity type="pntCity">
            </div>
            <div>
                <label style="font-size:medium; font-weight: bold; margin-left:25px;" for="pntMobile">Phone</label>
                <input
                    style="font-size:small; margin-left:80px; width:150px ; border:none ; color: black; background-color: white;"
                    disabled="true" [(ngModel)]=OPD.pntMobile type="pntMobile">
                <div>

                    <div>
                        <label style="font-size:medium; font-weight: bold; margin-left:25px;" for="recamt">UHID</label>
                        <input
                            style="font-size:small; margin-left:90px; width:50px ; border:none ; color: black; background-color: white; "
                            disabled="true" [(ngModel)]=OPD.uhID type="opdTime">

                            <label style="font-size:medium; font-weight: bold; margin-left:5px;" for="condoctor">Validupto</label>
                            <input
                                style="font-size:small; margin-left:5px; width:90px ; border:none ; color: black; background-color: white;"
                                disabled="true" [(ngModel)]=OPD.expiryDate type="Date">
            
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 1vw;" class="disclaimer signature-field">
    </div>
</body>