<div >
    <h2 >PROFILE CHANGE</h2>
            <form class="form">
                    
                    <div class="row">
                   <div >
                    <label style="font-size:medium; margin-left:15px;">SubTitle</label>
                    <input style="font-size:small; margin-left:15px; width:450px ;" [(ngModel)]="company.Comp_Short_nam" name="Comp_Short_nam">
                    <br><br>
                    <label style="font-size:medium; margin-left:15px;">Address</label>
                    <input style="font-size:small; margin-left:15px; width:450px ;" [(ngModel)]="company.Comp_add"  name="comp_add">
                    <br>
                    <input style="font-size:small; margin-left:90px; width:450px ;" [(ngModel)]="company.Comp_add1" name="comp_add1">
                    <br>
                    <label style="font-size:medium; margin-left:15px;">City</label>
                    <input style="font-size:small; margin-left:50px; width:450px ;" [(ngModel)]="company.Comp_city" name="comp_city">
                    <br>
                    <label style="font-size:medium; margin-left:15px;">Helpline</label>
                    <input style="font-size:small; margin-left:20px; width:450px ;" [(ngModel)]="company.Comp_Phon" name="Comp_Phon">
                    <br>
                    <label style="font-size:medium; margin-left:15px;">Email</label>
                    <input style="font-size:small; margin-left:40px; width:450px ;" [(ngModel)]="company.email" name="email">
                    <br><br>
                    <button style="font-size:small; margin-left:95px;" class="btn btn-success" (click)="onSubmit()">SAVE</button>
                    <button style="font-size:small; margin-left:5px;" class="btn btn-danger btn-rounded" (click)="onDiscard()">Discard</button>
                    <br><br><br>
             
            </div>
            </div>
            </form> 