<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <h2 >Ward Master</h2>
        <button style="margin-right: 1%;  width: 150px !important;" class="btn btn-primary" (click)="onSubmitnew()" >New Ward</button>

            <table class="table" style="margin-top: 1vw;" >
                    <thead>
                    
                        <th>Ward Name</th>
                        <th>Floor</th>
                        <th># of Bed</th>
                        <th># of Admit Patient</th>
                        <th>Bed Type</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                                 <tr *ngFor="let item of Ward">
                                  <td>{{item.category}}</td>
                                  <td>{{item.Floor}}</td>
                                   <td>{{item.Bedno}}</td>
                                  <td>{{item.ipdno}}</td>
                                  <td>{{item.bed}}</td>

                                  <div class="btn-group" role="group" >
                                  <button class="btn btn-primary btn-rounded" (click)="editer(item.category)" >Add /Delete Bed</button>
                                  <td> <a><button class="btn"><i class="fa fa-trash" type="button"(click)="deleter(item.category,item.ipdno)"></i> </button> </a> </td>
                                  </div>
                                </tr>
                            </tbody>
                                    <td ></td>
                                    <td style="text-align: center ; font-weight: bold; ">TOTAL</td>
                                    <td style="font-weight: bold;">{{totalward}}</td>
            </table>
        