<!-- CSS only -->
<h2>STAFF STATUS</h2>
<div class="col text-right" style="padding:1vw;">
  <button style="margin-right: 1%; " class="btn btn-primary " *ngIf="registration" (click)="newreg()">Add
    Employee</button>
  <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf="showrecipts"
    (click)="addAttendance()">Add Attendance</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf="showrecipts"
    (click)="generateSalary()">Generate Salary</button>
    <button style="margin-right: 1%;" class="btn btn-primary btn-rounded" *ngIf="showrecipts"
    (click)="employeeSeperation()">Employee Seperation</button>
  <div class="input-group" style="padding-top: 1vh;">
    <select type="text" style=" font-size:small; margin-left:2px; width:90px ;" [(ngModel)]=Choice>
      <option value="ALL">ALL</option>
      <option value="Patient">Patient</option>
      <option value="Consultant">Consultant</option>
      <option value="Department">Department</option>
      <option value="Refund">Refund</option>
      <option value="Department">Department</option>
      <option value="UHID">UHID</option>
      <option value="Emergency">Emergency</option>

    </select>
    <input style="font-size:small; margin-left:5px;" type="search" class="form-control rounded" (keyup)="searchdirect()"
      [(ngModel)]=search />
    <button style="font-size:small; margin-left:5px; " class="btn btn-success" *ngIf="showsearch"
      (click)="searchquery()">Search</button>
  </div>
</div>
<table class="table table-bordered table-striped table-condensed cf">
  <thead class="cf" style="color:white; font-family: Arial, Helvetica, sans-serif;">
    <tr>
      <th></th>
      <th>EmpCode</th>
      <th>Title</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Category</th>
      <th>JobType</th>
      <th>Desig</th>
      <th>EmpStatus</th>
      <th *ngIf="delregistration || editregistration">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of Employees let i=index ">
      <td><input name="options" ng-control="options" type="radio" [value]="employee" [(ngModel)]=selected></td>
      <td>{{employee.Empcode}}</td>
      <td>{{employee.Mr}}</td>
      <td>{{employee.staffname}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.category}}</td>
      <td>{{employee.jobtype}}</td>
      <td>{{employee.desig}}</td>
      <td>{{employee.empstatus}}</td>
      <td>
        <div class="row" style="padding-left: 5px;">
          <div class="col" style="padding: 0;">
            <a *ngIf="delregistration"><button class="btn"><i class="fa fa-trash" type="button"
                  (click)="delete(employee)"></i> </button></a>
          </div>
          <div class="col" style="padding: 0;">
            <a *ngIf="editregistration"><button class="btn"><i class="fa fa-edit" type="button"
                  (click)="edit(employee)"></i> </button></a>
          </div>
        </div>
      </td>
      <!-- <div class="btn-group" role="group">
        <button *ngIf="showtest" class="btn btn-primary btn-rounded"
          (click)="testbooking(students.dcmntNo,students.uhID)">Test</button>
        <button *ngIf="showadmit" class="btn btn-primary btn-rounded"
          (click)="admitpatient(students.dcmntNo,students.opdDate)">Admit</button>
        <td *ngIf="delregistration"><a><button class="btn"><i class="fa fa-trash" type="button"
                (click)="delete(students)"></i> </button></a></td>
        <td *ngIf="editregistration"> <a><button class="btn"><i class="fa fa-edit" type="button"
                (click)="edit(students)"></i> </button></a></td>
      </div> -->
</table>

<app-loader *ngIf="!resourcesLoaded"></app-loader>