<div style="border-style: 0px solid; height: 100%; border-radius: 5px; border-width: 1px;">
    <div>
        <div class="row" style="font-family: 'Source Sans Pro';font-weight: 600; color: black;padding-left: 1vw;">
            <div class="col">
                <p style="font-size: 18px;">Dashboard</p>
            </div>
            <div class="user-box col-2"  >
                <input type="date" name="" required="" [(ngModel)]="from" (change)="getOpdDetails()">
                <label>From</label>
              </div>
              <div class="user-box col-2"  >
                <input type="date" name="" required="" [(ngModel)]="to" (change)="getOpdDetails()">
                <label>To</label>
              </div>
        </div>

        <div class="row" style="margin-top: 2vh;">
            <div class="col">
                <div>
                    <canvas baseChart class="chart" [data]="countBarChartData" [options]="barChartOptions"
                        [type]="barChartType" height="80vh">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 5vh;">
            <div class="col">
                <div>
                    <canvas baseChart class="chart" [data]="incomeBarChartData" [options]="barChartOptions"
                        [type]="barChartType" height="80vh">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>
