<div class="col" style="text-align:right">
    <button (click)="printComponent()">Print</button>
</div>

<div id="print" style="background-color: white;">

    <app-report-PageHeading></app-report-PageHeading>

    <h4 style="margin-left: 20px; font-weight: bold;">Daily Activity Paymode Wise Report from {{fromdt | date
        :'dd/MM/yyyy'}} To {{todt | date :'dd/MM/yyyy'}}
    </h4>

    <table class="table table-bordered border-primary" style="margin-left:10px ; width: 90%; font-size:smaller;">

        <tbody>
            <ng-container *ngFor="let heading of consulatants">

                <tr>
                    <td colspan="13" style="font-size: large; font-weight: bold;"> {{heading}} </td>
                </tr>
                <tr>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Heads </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Jan </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Feb </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Mar </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Apr </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">May </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Jun </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">July </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Aug </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Sep </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Oct </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Nov </td>
                    <td style="background-color:darkgray !important; color:black; font-size:large;text-align: right;">Dec </td>
                </tr>

                <ng-container *ngFor="let students of allheadsummary let i=index">
                    <ng-container *ngIf="students.doctor == heading ">
                        <tr>
                            <td style="font-size: large; text-align: left;">{{students.dcmnttype}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Jan}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Feb}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Mar}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Apr}}</td>
                            <td style="font-size: large; text-align: right;">{{students.May}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Jun}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Jul}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Aug}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Sep}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Oct}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Nov}}</td>
                            <td style="font-size: large; text-align: right;">{{students.Dec}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
                <tr style="text-align: right;">
                    <td style="font-size: large;font-weight: 600; text-align: left;">TOTAL</td>
                    <td style="font-size: large;font-weight: 600; ">{{sum.get(heading)?.Jan}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Feb}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Mar}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Apr}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.May}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Jun}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Jul}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Aug}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Sep}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Oct}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Nov}}</td>
                    <td style="font-size: large;font-weight: 600;">{{sum.get(heading)?.Dec}}</td>
                </tr>
            </ng-container>
            <tr>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: left; font-weight: 600;">GRAND TOTAL </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Jan}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Feb}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Mar}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right; font-weight: 600;">
                    {{this.total.Apr}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.May}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Jun}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Jul}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Aug}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Sep}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Oct}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Nov}} </td>
                 <td style="background-color:darkgray !important; color:black; font-size:large; text-align: right;font-weight: 600;">
                    {{this.total.Dec}} </td>        
            </tr>
        </tbody>
    </table>
</div>