<div>
  <div class="row" style="margin-top: 4vh; font-family: 'Source Sans Pro';font-weight: 600; color: black;padding-left: 1vw;">
    <div class="col">
      <p style="font-size: 18px;">IPD Discharge</p>
    </div>
    <div class="col-7" style="margin-left: 8vw;">
      <div class="row">
        <div class="user-box-small">
          <input type="text" name="" required="" disabled="true" [(ngModel)]=OPD.dcmntNo>
          <label>File No</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled="true" [(ngModel)]=OPD.uhID>
          <label>UHID</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled="true" [(ngModel)]=OPD.PntType>
          <label>Type</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled="true" [(ngModel)]=heads.vchrNo>
          <label>Bill No</label>
        </div>
        <div class="user-box-small">
          <input type="date" name="" required="" disabled="true" [(ngModel)]=heads.vchrDate>
          <label>Bill Date</label>
        </div>
      </div>
    </div>

  </div>

  <div>
    <div class="row" style="padding-left: 1vw; margin-top: 1vh;">
      <div class="user-box col-2">
      </div>
      <div class="col-2" style="padding-left: 2vw;">
      </div>
    </div>
  </div>

  <div class="row" style="padding-bottom: 2vh; border: 1px solid black;">
    <div style="margin-top:1vh;border: none; border-top: 0px solid gray;">
      <div class="row" style="padding-left: 1vw;padding-top: 3vh;">
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntn>
          <label>Title</label>
        </div>
        <div class="user-box-big">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntName>
          <label>Patient Name</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntAgeYrs>
          <label>Age</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.agey>
          <label></label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntSex>
          <label>Sex</label>
        </div>
      </div>
    </div>

    <div style="margin-top:1vh;border: none; border-top: 0px solid gray;">
      <div class="row" style="padding-left: 1vw;padding-top: 2vh;">
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntg>
          <label></label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntGrdn>
          <label>Guardian</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntAdrs1>
          <label>Address</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntCity>
          <label>City</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.pntMobile>
          <label>Mobile</label>
        </div>
        <div class="user-box-small">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.opdDate>
          <label>Admit Date</label>
        </div>

      </div>
    </div>

    <div style="margin-top:1vh;border: none; border-top: 0px solid gray;">
      <div class="row" style="padding-left: 1vw;padding-top: 2vh;">
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.dctrVisited>
          <label>Consultant</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.rfrdBy>
          <label>Ref Doctor</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.category>
          <label>Ward</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.roomNo>
          <label>Room No</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.Bedno>
          <label>Bed No</label>
        </div>

      </div>
    </div>

    <div style="margin-top:1vh;border: none; border-top: 0px solid gray;">
      <div class="row" style="padding-left: 1vw;padding-top: 2vh;">
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=OPD.grandTotal>
          <label>Bill Amt</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" disabled [(ngModel)]=totalnetamt>
          <label>Rec Amt</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" style="color: red;" disabled [(ngModel)]=dueAmount>
          <label>Test Due</label>
        </div>
        <div class="col-1">
          <button class="btn btn-primary" style="width: 5vw; margin-top: 1vh;" (click)="check()">Check</button>
        </div>
      </div>
    </div>

  </div>

  <div style="margin-top:1vh;border: none; border-top: 0px solid gray;">
    <div class="row" style="padding-top: 2vh;">
      <table class="table table-bordered" ng-app="myapp" ng-controlier="Mycontroler">
        <thead>
          <tr>
            <th>TestName</th>
            <th>Qty</th>
            <th>Type</th>
            <th>Rate</th>
            <th>Disc%</th>
            <th>DicAmt</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of heads.tests let i=index;">
            <td>{{item.itmName}}</td>
            <td>{{item.itmQty}}</td>
            <td>{{item.Remark}}</td>
            <td>{{item.itmChrgs}}</td>
            <td>{{item.disp}}</td>
            <td>{{item.itmDiscntPrsnt}}</td>
            <td>{{item.totalAmt}}</td>

            <td> <a><button style="width: 7px; padding:0px;padding-right:0px ; " class="btn"><i
                    class="fa fa-arrow-circle-up" type="button" (click)="moveUp(i)"></i> </button> </a> </td>
            <td> <a><button style=" width: 7px; padding:0px;padding-right:0px ; " class="btn"><i
                    class="fa fa-arrow-circle-down" type="button" (click)="moveDown(i)"></i> </button> </a> </td>
            <td> <a><button style=" width: 7px; padding:0px;padding-right:0px ; " class="btn"><i class="fas fa-cut"
                    type="button" (click)="delete(item.itmName)"></i> </button> </a> </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div style="margin-top:1vh;margin-left: 30px; border: none; border-top: 0px solid gray;">
    <div class="row" style="padding-top: 2vh;">
      <div class="user-box">
        <select [(ngModel)]=heads.Status>
          <option value="Normal">Normal</option>
          <option value="Recovered">Recovered</option>
          <option value="Reffered">Reffered</option>
          <option value="L.A.M.A.">L.A.M.A.</option>
          <option value="Expired">Expired</option>
          <option value="Absconded">Absconded</option>
          <option value="Cacelled">Cacelled</option>
          <option value="Dopr">Dopr</option>
        </select>
        <label>Result</label>
      </div>

      <div class="user-box">
        <input type="text" name="" required="" disabled [(ngModel)]=heads.adv>
        <label>Advance</label>
      </div>

      <div class="user-box">
        <input type="text" name="" required="" disabled [(ngModel)]=heads.grandTotal>
        <label>Total Amount</label>
      </div>

      <div class="user-box-small">
        <input type="text" name="" required="" [(ngModel)]=heads.discountAmt (keyup)="getNetAmount()">
        <label>Discount</label>
      </div>

      <div class="user-box-small">
        <input type="text" name="" required="" [(ngModel)]=heads.foc (keyup)="getfoc()">
        <label>FOC Amount</label>
      </div>

      <div class="user-box">
        <input type="text" name="" required="" disabled [(ngModel)]=heads.paydue>
        <label>Due Amount</label>
      </div>
    </div>
  </div>

  <div style="margin-top:1vh;border: none; border-top: 0px solid gray;">
    <div class="row" style="padding-top: 2vh;">
      <button style="width: 6vw;" class="btn btn-success" *ngIf="allowedSave" (click)="onsave()">SAVE</button>
      <button style="width: 6vw; margin-left: 1vw;" class="btn btn-danger btn-rounded" (click)="onNoClick()">Discard</button>
    </div>
  </div>
</div>
<app-loader *ngIf="!resourcesLoaded"></app-loader>