<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<h2>IPD Discharge</h2>
<div class="row" >
    <div class = "col">
        <label style="font-size:medium;  margin-left:15px;" type="dcmntno"  >File No</label>
            <input style="font-size:small; margin-left:30px; width:50px ; " disabled="true" [(ngModel)]=OPD.dcmntNo  type="dcmntno"  >
            <label style="font-size:medium; margin-left:10px;" for="uhID">UHID</label>
            <input style="font-size:small; margin-left:5px; width:75px ;" disabled="true" [(ngModel)]=OPD.uhID >
            <input hidden="true" style="font-size:small; margin-left:5px; width:75px ;" disabled="true" [(ngModel)]=heads.uhID >

            <label style="font-size:medium; margin-left:10px;" for="uhID">Patient Type</label>
            <input style="font-size:small; margin-left:5px; width:95px ;" disabled="true" [(ngModel)]=OPD.PntType >
            <label style="font-size:medium; margin-left:10px;" for="uhID">BillNo</label>
            <input style="font-size:small; margin-left:5px; width:40px ;" disabled="true" [(ngModel)]=heads.vchrNo >
            <label style="font-size:medium; margin-left:10px;" for="uhID">Bill Date</label>
            <input style="font-size:small; margin-left:5px; width:95px ;" disabled="true" [(ngModel)]=heads.vchrDate  type="Date" >
            <input style="font-size:small; margin-left:5px; width:95px ;" disabled="true" [(ngModel)]=heads.distime  type="text" >
            <br>

            <input style="font-size:small; color: white; background-color: darkslategrey;  margin-left:15px; width:50px ; height: 40px; " disabled="true" [(ngModel)]=OPD.pntn type="pntn"  >
            <input style="font-size:small; color: white; background-color: darkslategrey;  width:550px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntName type="pntName"  >
            
            <input style="font-size:small; color: white; background-color: darkslategrey; width:40px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntAgeYrs type="pntAgeYrs" >
            <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntSex type="pntSex" >
            <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;"  disabled="true" [(ngModel)]=OPD.agey type="agey">

            <br>
            <label  style="font-size:medium; margin-left:15px;" for="pntg">Guardian</label>
            <input   style="font-size:small; margin-left:15px; width:55px ;  " disabled="true"  [(ngModel)]=OPD.pntg type="pntg"  >
            <input   style="font-size:small; width:200px ; " disabled="true"  [(ngModel)]=OPD.pntGrdn type="pntGrdn" >

            <label   style="font-size:medium; margin-left:85px;" for="condoctor">Consultant</label>
            <input  style="font-size:small; margin-left:5px; width:250px ; " disabled="true" [(ngModel)]=OPD.dctrVisited >
            <br>
            <label  style="font-size:medium; margin-left:15px;" for="pntg">Address</label>
            <input   style="font-size:small; width:250px ; margin-left:25px;" disabled="true"  [(ngModel)]=OPD.pntAdrs1 >

            <label   style="font-size:medium; margin-left:85px;" for="condoctor">Ref Doctor</label>
            <input  style="font-size:small; margin-left:5px; width:250px ; " disabled="true" [(ngModel)]=OPD.rfrdBy  >
<br>
<label  style="font-size:medium; margin-left:15px;" for="pntg">City</label>
<input   style="font-size:small; width:250px ; margin-left:55px;" disabled="true"  [(ngModel)]=OPD.pntCity >

<label   style="font-size:medium; margin-left:85px;" for="condoctor">Ward</label>
<input  style="font-size:small; margin-left:45px; width:250px ; " disabled="true" [(ngModel)]=OPD.category  >

<br>
<label  style="font-size:medium; margin-left:15px;" for="pntg">Mobile</label>
<input   style="font-size:small; width:250px ; margin-left:35px;" disabled="true"  [(ngModel)]=OPD.pntMobile >

<label   style="font-size:medium; margin-left:85px;" for="condoctor">RoomNo</label>
<input  style="font-size:small; margin-left:20px; width:70px ; " disabled="true" [(ngModel)]=OPD.roomNo >

<label   style="font-size:medium; margin-left:5px;" for="condoctor">BedNo</label>
<input  style="font-size:small; margin-left:35px; width:70px ; " disabled="true" [(ngModel)]=OPD.Bedno >
<br>
<label style="font-size:medium; margin-left:10px;" >Admit Date</label>
<input style="font-size:small; margin-left:5px; width:95px ;" disabled="true" [(ngModel)]=OPD.opdDate type="Date" >

<label   style="font-size:medium; margin-left:245px;" for="condoctor">Bill Amt</label>
<input  style="font-size:small; margin-left:25px; width:70px ; " disabled="true" [(ngModel)]=heads.grandTotal >


<label   style="font-size:medium; margin-left:5px;" for="condoctor">Rec Amt</label>
<input  style="font-size:small; margin-left:25px; width:70px ; " disabled="true" [(ngModel)]=heads.adv >
<br><br>
        <table class="table table-bordered" ng-app="myapp" ng-controlier="Mycontroler" >
            <thead >
            <tr>
                <th>TestName</th>
                <th>Qty</th>
                <th>Type</th>
                <th>Rate</th>
                <th>Disc%</th>
                <th>DicAmt</th>
                <th>Amount</th>
              </tr>
            </thead> 
          <tbody>
              <tr *ngFor="let item of heads.tests let i=index;">
                <td>{{item.itmName}}</td>
                <td >{{item.itmQty}}</td>
                <td >{{item.Remark}}</td>
                <td >{{item.itmChrgs}}</td>
                <td >{{item.disp}}</td>
                <td >{{item.itmDiscntPrsnt}}</td>
                <td>{{item.totalAmt}}</td>

                <td> <a><button style="width: 7px; padding:0px;padding-right:0px ; " class="btn"><i class="fa fa-arrow-circle-up"type="button" (click)="moveUp(i)" ></i> </button> </a> </td>
                <td> <a><button style=" width: 7px; padding:0px;padding-right:0px ; " class="btn"><i class="fa fa-arrow-circle-down"type="button" (click)="moveDown(i)"></i> </button> </a> </td> 
                <td> <a><button style=" width: 7px; padding:0px;padding-right:0px ; " class="btn"><i class="fas fa-cut"type="button" (click)="delete(item.itmName)"></i> </button> </a> </td> 
            </tr>
          </tbody>

        </table>
            <div >
                <label  style="margin-left:10px ;" for="grandtotal">Result</label>
                <select style="width:125px ; margin-left: 10px;"  [(ngModel)]=heads.Status>
                    <option value="Normal">Normal</option>
                    <option value="Recovered">Recovered</option>
                    <option value="Reffered">Reffered</option>
                    <option value="L.A.M.A.">L.A.M.A.</option>
                    <option value="Expired">Expired</option>
                    <option value="Absconded">Absconded</option>
                    <option value="Cacelled">Cacelled</option>
                    <option value="Dopr">Dopr</option>
               </select>

               <label   style="font-size:medium; margin-left:25px;" for="condoctor">Advance</label>
                <input  style="font-size:small; margin-left:25px; width:70px ; " disabled="true" [(ngModel)]=heads.adv >

          <label  style="margin-left:205px ;" for="grandtotal">Total Amount</label>
          <input style="margin-left:25px ; width:90px; background-color:lightblue;" readonly="true" type="text" [(ngModel)]=heads.grandTotal  >

          <label  style="margin-left:570px ;" for="grandtotal">Discount</label>
          <input style="margin-left:55px ; width:90px; background-color:lightblue;"  type="text" [(ngModel)]=heads.discountAmt (keyup)="getNetAmount()" >

          <label  style="margin-left:570px ;" for="grandtotal">FOC Amount</label>
          <input style="margin-left:30px ; width:90px; background-color:lightblue;" type="text" [(ngModel)]=heads.foc (keyup)="getfoc()" >

          <label  style="margin-left:570px ;" for="grandtotal">Due Amount</label>
          <input style="margin-left:30px ; width:90px; background-color:lightblue;" readonly="true" type="text" [(ngModel)]=heads.paydue  >

        </div>

        <button  class="btn btn-success" (click)="onsave()">SAVE</button>
        <button  class="btn btn-danger btn-rounded" (click)="onNoClick()">Discard</button>
</div>
