<body>
    <app-report-PageHeading></app-report-PageHeading>
      
      <h4 style="margin-left: 20px;margin-top: 3vh;">Payment Consultant Summary from {{vrdt1 | date :'dd/MM/yyyy'}} To {{vrdt2 | date :'dd/MM/yyyy'}}</h4> 
       

  <table class="table table-bordered border-primary" >
    <thead >
        <th style="text-align: center ;">Test</th>
        <th style="text-align: center ;">#</th>
        <th style="text-align: center ;">Bill Amt</th>
        <th style="text-align: center ;">Disc.</th>
        <th style="text-align: center ;">Refund</th>
        <th style="text-align: center ;">Bal. Amt</th>
        <th style="text-align: center ;">Net Amt</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let heading of headingMap | keyvalue">
          <tr>
              <td colspan="12" style="text-align: center;"><b>{{heading.key}}</b></td>
          </tr>
          <ng-container *ngFor="let students of Students let i=index">
              <ng-container *ngIf="students.condoctor == heading.key ">
                  <tr>

        <td style="width: 4px;text-align: center ; ">{{students.Reporttype}}</td>
        <td style="width:40px;text-align: center ;">{{students.uhID}}</td>
        <td style="width:40px;text-align: center ;">{{students.grandTotal}}</td>
        <td style="width:40px;text-align: center ;">{{students.discountAmt}}</td>
        <td style="width:40px;text-align: center ;">{{students.refund}}</td>
        <td style="width:40px;text-align: center ;">{{students.balamt}}</td>
        <td style="width:40px;text-align: center ;">{{students.recamt}}</td>
    </tr>
  </ng-container>
</ng-container>
<tr>
<td></td>
  <td style="text-align: center ; font-weight: bold; ">TOTAL</td>
  <td style="text-align: center ; font-weight: bold;">{{headwiseTotal.get(heading.key)}}</td>
  <td style="text-align: center ; font-weight: bold;">{{headwiseTotaldis.get(heading.key)}}</td>
  <td style="text-align: center ; font-weight: bold;">{{headwiseTotalrefund.get(heading.key)}}</td>
  <td style="text-align: center ; font-weight: bold;">{{headwiseTotalbal.get(heading.key)}}</td>
  <td style="text-align: center ; font-weight: bold;">{{headwiseTotalnet.get(heading.key)}}</td>
</tr>
</ng-container>
</tbody>
<td></td>
<td style="text-align: center ; font-weight: bold; ">GRAND TOTAL</td>
<td style="text-align: center ;  font-weight: bold;">{{totalgamt}}</td>
<td style="text-align: center ;  font-weight: bold;">{{totaldamt}}</td>
<td style="text-align: center ;  font-weight: bold;">{{totalramt}}</td>
<td style="text-align: center ;  font-weight: bold;">{{totalbalamt}}</td>
<td style="text-align:center ;  font-weight: bold;">{{totalnamt}}</td>

</table>

</body>