<div class="col" style="text-align:right">
    <button (click)="printComponent()">Print</button>
    <button (click)="opdlist()">Close</button>
  </div>
  <div id="print" style="background-color: white;">
    <app-report-PageHeading></app-report-PageHeading>
  
    <h4 style="margin-left: 20px; font-weight: bold; margin-top: 3vh;">IPD Collection Reports from {{fromdt | date :'dd/MM/yyyy'}} To
      {{todt | date :'dd/MM/yyyy'}}
      <!-- <label style="margin-left: 100px; font-weight:normal;">PAGE NUMBER </label> -->
    </h4>
    <table class="table table-bordered border-primary" style="margin-left:10px ;width: 96%; font-size:smaller;">
      <thead>
        <th style="text-align: center ;">SID</th>
        <th style="text-align: center ;">RecNo</th>
        <th style="text-align: center ;">Date</th>
        <th style="text-align: center ;">Time</th>
        <th style="text-align: center ;">IPDNO</th>
        <th style="text-align: center ;">Patient</th>
        <th style="text-align: center ;">Consultant</th>
        <th style="text-align: center ; padding-right:20px ;">Paymode</th>
        <th style="text-align: center ;">User</th>
        <th style="text-align: center ;">Received</th>
        <th style="text-align: center ;">Refund</th>
        <th style="text-align: center ;">Total</th>
        
      </thead>
  
      <tbody>
        <tr *ngFor="let students of students let i=index">
          <td style="width:30px;">{{i + 1}}</td>
          <td style="width:50px; ">{{students.vchrNo}}</td>
          <td style="width:80px ;">{{students.vchrDate | date :'dd/MM/yyyy' }}</td>
          <td style="width:120px;">{{students.vchrTime}}</td>
          <td style="width:120px;">{{students.ipdno}}</td>
          <td style="width:120px;">{{students.PntName}}</td>
          <td style="width:140px ; ;">{{students.condoctor}}</td>
          <td style="width:40px; text-align: center ; ">{{students.paymode}}</td>
          <td style="width:40px; text-align: center ;">{{students.uname}}</td>
          <td style="width:40px; text-align: center ;">{{students.grandTotal}}</td>
          <td style="width:40px; text-align: center ;">{{students.discountAmt}}</td>
          <td style="width:40px; text-align: center ;">{{students.recamt}}</td>

         
        </tr>
        <td></td>
      </tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align: center ; font-weight: bold; ">TOTAL</td>
      <td style="text-align: center ;  font-weight: bold;">{{totalgamt}}</td>
      <td style="text-align: center ;  font-weight: bold;">{{totalramt}}</td>
      <td style="text-align:center ;  font-weight: bold;">{{totalnamt}}</td>
    </table>
  </div>