<div class="row" >
    <h1>User Permission</h1>
    <input style="width: 820px;"  type="search" class="form-control rounded"  placeholder="Search on Discription" (keyup)="searchquery()"  />
    <button style="width:70px; margin-left:10px;" type="submit" class="btn btn-success" (click)="onSubmit()">SAVE</button>
    <select style="width: 120px; margin-left:2px; margin-top: 10px;" type="text"  [(ngModel)]="selectedUser" (change)="userChange()">
      <option *ngFor="let users of login1" >
       {{users.stuserid}}
      </option> 
    </select>
    <table class="table" style="margin-top: 20px;">
      <thead>
      
          <th>MainMenu</th>
          <th>SubMenu</th>
          <th>Insert</th>
          <th>Edit</th>
          <th>Delete</th>

      </thead>
      <tbody>
                  <tr *ngFor="let user of userpermission">
                    <td>{{user.mainmenu}}</td>
                    <td>{{user.submenu}}</td>
                    <td><input name="inst" type="checkbox" [(ngModel)]="user.inst" ></td>
                    <td><input name="edt" type="checkbox" [(ngModel)]="user.edt" ></td>
                    <td><input name="del" type="checkbox" [(ngModel)]="user.del" ></td>
                  </tr>
      </tbody>
    </table>


</div>
