<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class="col" style="text-align:right">
    <button (click)="printComponent()">Print</button>
</div>
<div id="print" style="background-color: white;">
    <div class="row">
        <div class="items-group" style="margin-top: 2vh; margin-left: 40px; width: 90%;">
            <div class="col">
                <div style="text-align: center;">
                    <label style="font-size:medium; " type="dcmntno">File No</label>
                    <input
                        style="font-size:large; margin-left:30px; width:50px ; border:none ;color: black; background-color: white; "
                        readonly="true" [(ngModel)]=dcmntNo>
                    <b><label style=" font-size:larger; width: 440px;">PATIENT GATE PASS / गेट पास</label></b>
                    <label style="font-size:medium; margin-left:20px;" for="uhID">UHID</label>
                    <input
                        style="font-size:medium; margin-left:5px; width:75px ;border:none ;color: black; background-color: white; "
                        [(ngModel)]=OPD.uhID>
                </div>
                <br>
                <label style="font-size:medium;  margin-left:60px;" type="dcmntno">रोगी का नाम </label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left:15px; width:50px ; color: black; background-color: white; "
                    readonly="true" [(ngModel)]=OPD.pntn>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap;font-size:medium; width:580px ;color: black; background-color: white; "
                    [(ngModel)]=OPD.pntName readonly="true">
                <br>
                <br>
                <label
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium;  margin-left:20px;"
                    type="dcmntno">उम </label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left: 10px; width:40px ;color: black; background-color: white; "
                    [(ngModel)]=OPD.pntAgeYrs readonly="true">
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium;  width:60px ;color: black; background-color: white; "
                    [(ngModel)]=OPD.pntSex readonly="true">
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; width:60px ; color: black; background-color: white;"
                    [(ngModel)]=OPD.agey readonly="true">

                <label style="font-size:medium; margin-left:10px;" for="pntg">Guardian</label>
                <u><input
                        style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left:15px; width:50px ; color: black; background-color: white; "
                        [(ngModel)]=OPD.pntg readonly="true">
                    <input
                        style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; width:430px ; color:black; background-color: white; "
                        [(ngModel)]=OPD.pntGrdn readonly="true"></u>

                <br>
                <br>
                <label style="font-size:medium; margin-left:20px;" for="pntg">निवासी</label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; width:460px ; margin-left:20px; color: black; background-color: white; "
                    readonly="true" [(ngModel)]=OPD.pntAdrs1>

                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; width:240px ; margin-left:5px;color: black; background-color: white; "
                    readonly="true" [(ngModel)]=OPD.pntCity>
                <br>
                <br>
                <label style="font-size:medium; margin-left:15px;" for="pntg">भर्ती दिनांक</label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left:15px; width:85px ;color: black; background-color: white; "
                    readonly="true" [(ngModel)]=OPD.opdDate type="Date">
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; width:305px ;color: black; background-color: white; "
                    readonly="true" [(ngModel)]=OPD.opdTime>

                <label style="font-size:medium; margin-left:15px;">डिस्चार्ज दिनांक</label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left:15px; width:175px ;color: black; background-color: white; ">
                <br>
                <br>
                <label style="font-size:medium; margin-left:15px;">कमरा नाम</label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left:15px; width:400px ;color: black; background-color: white; "
                    readonly="true" [(ngModel)]=ward.category type="text">

                <label style="font-size:medium; margin-left:15px;">कमरा सं0</label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; margin-left:15px; width:205px ;color: black; background-color: white; "
                    readonly="true" [(ngModel)]=ward.roomNo type="text">
                <br>
                <br>
                <label style="font-size:medium; margin-left:15px;">से डिस्चार्ज किया जा रहा है । </label>
                <br>
                <br>
                <div class="form-field-wrapper" style="border: 1px solid blue">
                    <b><label style="font-size:medium; margin-left: 310px;">DUE STATUS</label></b>
                    <br>
                    <label style="font-size:medium; margin-left: 50px;">Hospital Due Amt__________</label>
                    <label style="font-size:medium; margin-left: 5px; ">Pathology Due Amt__________</label>
                    <label style="font-size:medium; margin-left: 5px;">Medical Due Amt__________</label>
                    <br>
                    <br>
                    <label style="font-size:medium; margin-left: 50px;">Department Signature</label>
                    <label style="font-size:medium; margin-left: 45px; ">Department Signature</label>
                    <label style="font-size:medium; margin-left: 55px;">Department Signature</label>
                </div>
                <br>
                <label style="font-size:medium; ">Print Date</label>
                <input
                    style="border-top: none; border-right: none; border-left: none; border-bottom:1cap; font-size:medium; width:85px ;color: black; background-color: white; "
                    readonly="true" type="text">
                <label style="font-size:medium; margin-left: 260px;">Checked by Signature___________</label>
                <br>
            </div>
        </div>
    </div>
</div>