<div >
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >MASTER</a>
    </div>
  </nav>
  <div class="card-group" [ngClass]="Mobile ? 'columnCardGroup' : 'rowCardGroup'">
    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Consultant Master</h2>
        <p class="card-text">(New /Edit /Delete) Consultant for OPD and IPD</p>
        <button class="btn btn-primary" (click)="onSubmitconsultant()" *ngIf="ShowConsultant">NEW</button>
      </div>
    </div>
    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Referral Master</h2>
        <p class="card-text">New /Edit /Delete Refby Consultant for OPD and IPD</p>
        <button class="btn btn-primary" (click)="onSubmitrconsultant()" *ngIf="ShowrConsultant">NEW</button>
      </div>
    </div>
  <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
    <div class="cardbody">
      <h2 class="card-title">Department Master</h2>
      <p class="card-text">Consultant Department for OPD/IPD...etc</p>
      <button class="btn btn-primary" (click)="onSubmitd()" *ngIf="ShowDepartment">NEW</button>
    </div>
  </div>
  <div class="card1 " [ngClass]="Mobile ? 'columnCard':''">
    <div class="cardbody">
      <h2 class="card-title">Payment Mode</h2>
      <p class="card-text">Payment Mode for various type payment like CASH/BANK/UPI etc.  </p>
      <button class="btn btn-primary" (click)="onSubmitpaymode()" *ngIf="Showpayment">NEW</button>
    </div>
  </div>    
  <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
    <div class="cardbody">
      <h2 class="card-title">Outside Lab</h2>
      <p class="card-text">(New /Edit /Delete) Outside lab which Labs not in Hospital for Pathology and Radiolody</p>
      <button class="btn btn-primary" (click)="onSubmitLAB()" *ngIf="ShowOutsideLab">NEW</button>
    </div>
  </div>
  <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
    <div class="cardbody">
      <h2 class="card-title">City Master</h2>
      <p class="card-text">(New /Edit /Delete) City for OPD/IPD...etc</p>
      <button class="btn btn-primary" (click)="onSubmitCity()" *ngIf="ShowCity">NEW</button>
    </div>
  </div>
        <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
                <div class="cardbody">
                  <h2 class="card-title">Bill Charges Master</h2>
                  <p class="card-text">(New /Edit /Delete) Test for Billing</p>
                  <button class="btn btn-primary" (click)="onSubmitcharges()" *ngIf="ShowCharges">NEW</button>
                </div>
        </div>
        <!-- <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
          <div class="cardbody">
            <h2 class="card-title">Test Rate Change</h2>
            <p class="card-text">Pathology Test Rate Change</p>
            <button class="btn btn-primary" (click)="onSubmittestrate()" *ngIf="Showtestrate">NEW</button>
          </div>
          </div> -->

    <!-- <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Frequency Master</h2>
        <p class="card-text">Maintaine Operator Shift timing</p>
        <button class="btn btn-info" (click)="onSubmitshift()" *ngIf="Showshift">NEW</button>
      </div>
    </div> -->

    <!-- <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Medicine Master</h2>
        <p class="card-text">Information of Insurance Panel details</p>
        <button class="btn btn-info" (click)="onSubmitpanel()" *ngIf="ShowPanel">NEW</button>
      </div>
    </div> -->

    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Shift Master</h2>
        <p class="card-text">Reports for Shift Wise Operator</p>
        <button class="btn btn-info" (click)="shift()" >NEW</button>
      </div>
    </div>


    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Ward Master</h2>
        <p class="card-text">(New /Edit /Delete) Rooms/Beds for IPD</p>
        <button class="btn btn-primary" (click)="onSubmitWard()" *ngIf="Showward">NEW</button>
      </div>
    </div>

    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Discharge Card Heading</h2>
        <p class="card-text">Create Heading for Discharge Card</p>
        <button class="btn btn-primary" (click)="disheading()" *ngIf="Showward">NEW</button>
      </div>
    </div>

    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Discharge Card Template</h2>
        <p class="card-text">Create Template for Discharge Card</p>
        <button class="btn btn-primary" (click)="distemplate()" *ngIf="Showward">NEW</button>
      </div>
    </div>
    
    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Test Group Master</h2>
        <p class="card-text">(New /Edit /Delete) for Test Group(s)</p>
        <button class="btn btn-primary" (click)="gotoTestGroupMaster()" >NEW</button>
      </div>
    </div>

    <div class="card1" [ngClass]="Mobile ? 'columnCard':''">
      <div class="cardbody">
        <h2 class="card-title">Test Master</h2>
        <p class="card-text">(New /Edit /Delete) for Test for Pathology and Radiolody</p>
        <button class="btn btn-primary" (click)="gotoTestMaster()" >NEW</button>
      </div>
    </div>


  </div>
</div>