@media print {
  button {
    display: none;
  }
}
body {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 25cm;
  height: 29.7cm; 
}

.items-group {
  border-style: solid;
  border-color: black;
  width: 90%;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 1pt;
  margin-left: 55px;
}
.signature-field {
  border-bottom: solid black 1pt;
}
th{
  border-color: black !important;
}

td{
  border-color: black;
}