<h2>Discharge Card Heading</h2>

<div class="row">
<div class ="col-6">
    <label >1</label>
    <input style="font-size:small; margin-left:5px; width:220px ; "  [(ngModel)]=disheading1.one >
    <br>
    <label >2</label>
    <input style="font-size:small; margin-left:5px; width:220px ; " [(ngModel)]=disheading1.two>
    <br>
    <label >3</label>
    <input style="font-size:small; margin-left:5px; width:220px ; " [(ngModel)]=disheading1.three>
    <br>
    <label >4</label>
    <input style="font-size:small; margin-left:5px; width:220px ; " [(ngModel)]=disheading1.four>
    <br>
    <label >5</label>
    <input style="font-size:small; margin-left:5px; width:220px ; " [(ngModel)]=disheading1.five>

</div>
<div class ="col-6">
    <label >6</label>
    <input style="font-size:small; margin-left:12px; width:220px ; " [(ngModel)]=disheading1.six>
    <br>
    <label >7</label>
    <input style="font-size:small; margin-left:12px; width:220px ; " [(ngModel)]=disheading1.seven>
    <br>
    <label >8</label>
    <input style="font-size:small; margin-left:12px; width:220px ; " [(ngModel)]=disheading1.eight>
    <br>
    <label >9</label>
    <input style="font-size:small; margin-left:12px; width:220px ; " [(ngModel)]=disheading1.nine>
    <br>
    <label >10</label>
    <input style="font-size:small; margin-left:5px; width:220px ; " [(ngModel)]=disheading1.ten>
</div>

</div>
<button style="font-size:small; margin-left: 20px;margin-top: 2vh; " class="btn btn-success" (click)="onSubmit()">SAVE</button>