<h2 style="margin-top: 2vh; margin-left: 20%;">IPD Due Payment Received</h2>
<div class="row" >
    <div class = "col">
            <input style="font-size:small; color: white; background-color: darkslategrey;  margin-left:15px; width:50px ; height: 40px; " disabled="true" [(ngModel)]=OPD.pntn type="pntn"  >
            <input style="font-size:small; color: white; background-color: darkslategrey;  width:350px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntName type="pntName"  >
            
            <input style="font-size:small; color: white; background-color: darkslategrey; width:40px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntAgeYrs type="pntAgeYrs" >
            <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;" disabled="true" [(ngModel)]=OPD.pntSex type="pntSex" >
            <input style="font-size:small; color: white; background-color: darkslategrey; width:60px ; height: 40px;"  disabled="true" [(ngModel)]=OPD.agey type="agey">

            <br>
            <label style="font-size:medium; margin-left:15px;" type="dcmntno"  >FileNo</label>
            <input style="font-size:small; margin-left:30px; width:50px ; " disabled="true" [(ngModel)]=Deposit.ipdNo  type="dcmntno"  >
            <label style="font-size:medium; margin-left:10px;" for="uhID">UHID</label>
            <input style="font-size:small; margin-left:5px; width:75px ;" disabled="true" [(ngModel)]=Deposit.uhID type="uhID" >
            <input style="font-size:small; margin-left:5px; width:75px ;" disabled="true" [(ngModel)]=Deposit.recno >
            <br>
            <label  style="font-size:medium; margin-left:15px;" for="pntg">Guardian</label>
            <input   style="font-size:small; margin-left:15px; width:55px ;  " disabled="true"  [(ngModel)]=OPD.pntg type="pntg"  >
            <input   style="font-size:small; width:250px ; " disabled="true"  [(ngModel)]=OPD.pntGrdn type="pntGrdn" >

            <br>
            <label   style="font-size:medium; margin-left:15px;" for="condoctor">Consultant</label>
            <input  style="font-size:small; margin-left:5px; width:305px ; " disabled="true" [(ngModel)]=OPD.dctrVisited >
            <br><br><br><br>
        </div>

       
        <div style="margin-left: 30%;" class="row">
            <div>
                <label style="font-size:medium; " type="dcmntno"  >Due Amt</label>
                <input style="font-size:small; margin-left:30px; width:110px ; " disabled="true" [(ngModel)]=OPD._dueamt  >
            </div>

                    <div>
                        <label style="font-size:medium; " type="dcmntno"  >Payment</label>
                        <input style="font-size:small; margin-left:30px; width:110px ; "  [(ngModel)]=Deposit.advanceReceived (keyup)="discount()" >
                    </div>
        

                    <div>
                        <label style="font-size:medium;" type="dcmntno"  >Discount</label>
                        <input style="font-size:small; margin-left:30px; width:110px ; " [(ngModel)]=Deposit.Refundpayment >
                    </div>

                    <div>
                        <label style="font-size:medium; " type="dcmntno"  >PMode</label>
                        <select  style="margin-left: 45px; width:110px ;" [(ngModel)]=Deposit.paymode>
                            <option *ngFor="let pay of group">
                              {{pay.paymode}}
                            </option> 
                          </select> 
                    </div>

                    <div>
                        <label style="font-size:medium; " type="dcmntno"  >Narration</label>
                        <input style="font-size:small; margin-left:30px; width:210px ; " [(ngModel)]=Deposit.narration  >
                    </div>

        </div>

</div>
<br>
<button  style="margin-left: 40%;" class="btn btn-success" (click)="onsave()">SAVE</button>
<button  class="btn btn-danger btn-rounded" (click)="onNoClick()">Discard</button>

<app-loader *ngIf="!resourcesLoaded"></app-loader>