<div class="col" style="text-align:right">
  <button (click)="printComponent()">Print</button>
  <button (click)="Ipdlist()">Close</button>
</div>

<div id="print" style="background-color: white;">
  <div class="row">
    <div class="col-2" id="printsection" style="margin-top: 3vw; margin-left: 30px;">
        <img src="assets\logo.jpg" style="width:120px;" id="icon" alt="User Icon" />
    </div>
    <div class="col">
        <h5 style="font-size:40px; text-align: center;  font-weight: bolder; margin-top: 3vw;">{{company}}</h5>
        <h5 style="text-align: center; font-weight: bold;">{{add}}</h5>
        <h5 style="text-align: center;  font-weight: bold;">{{city}}</h5>
        <h5 style="text-align: center;  font-weight: bold;">{{phone}}</h5>
    </div>
</div>
<div class="row" style="border-top: solid black 1pt;border-bottom: solid black 1pt;">
    <div>
        <h2
            style="font-weight:bolder; text-align: center; margin-left: 20px; margin-top: 1vw; font-size:xx-large;  ">
            IPD FINAL BILL</h2>
    </div>
</div>
  <div class="row" style="margin-top: 1vw; border-bottom: solid black 1pt; font-size: large;">
    <div class="col">
        <div class="row">
            <div class="col" style="margin-left: 1vw; max-width: 20%;">
                <div class="row">
                    <label style=" font-weight: bold; margin-left:2%; ">Name</label>
                </div>
                <div class="row">
                    <label style=" font-weight: bold; margin-left:2%;">Age/Gender</label>
                </div>
                <div class="row">
                    <label style=" font-weight: bold; margin-left:2%;">Guardian</label>
                </div>
                <div class="row">
                    <label style=" font-weight: bold; margin-left:2%;">Address</label>
                </div>
                <div class="row">
                    <label style=" font-weight: bold; margin-left:2%;">City</label>
                </div>
                <div class="row">
                    <label style=" font-weight: bold; margin-left:2%;">Phone</label>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label style=" margin-left:2vw; ">{{OPD.pntn}} {{OPD.pntName}}</label>
                </div>
                <div class="row">
                    <label style=" margin-left:2vw; ">{{OPD.pntAgeYrs}} {{OPD.agey}} /
                        {{OPD.pntSex}}</label>
                </div>
                <div class="row">
                    <label style=" margin-left:2vw; ">{{OPD.pntg}} {{OPD.pntGrdn}}</label>
                </div>
                <div class="row">
                    <label style=" margin-left:2vw; ">{{OPD.pntAdrs1}}</label>
                </div>
                <div class="row">
                    <label style=" margin-left:2vw; ">{{OPD.pntCity}}</label>
                </div>
                <div class="row">
                    <label style=" margin-left:2vw; ">{{OPD.pntMobile}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="row">
          <div class="col" style="margin-left: 0vw; max-width: 30%;">
              <div class="row">
                  <label style=" font-weight: bold; ">Admit Date</label>
              </div>
              <div class="row">
                <label style=" font-weight: bold; ">Discharge Date</label>
            </div>
              <div class="row">
                  <label style=" font-weight: bold; ">File No</label>
              </div>
              <div class="row">
                  <label style=" font-weight: bold; ">Ward</label>
              </div>
              <div class="row">
                  <label style=" font-weight: bold; ">Room No</label>
              </div>
              <div class="row">
                <label style=" font-weight: bold; ">Consultant</label>
            </div>
          </div>
          <div class="col">
                  <div class="row">
                  <div class="col" style="max-width: 38vw;">
                      <label style=" margin-left:1vw; " >{{OPD.opdDate | date:'dd-MM-yyyy'}}</label>
                  </div>
                  <div class="col" style="max-width: 5vw;">
                      <label style=" font-weight: bold; margin-left:2vw; ">Time</label>
                  </div>
                  <div class="col">
                      <label style=" margin-left:2vw; ">{{OPD.opdTime}}</label>
                  </div>
              </div>
              <div class="row">
                <div class="col" style="max-width:38vw;">
                    <label style=" margin-left:1vw; ">{{heads1.Statusdate | date:'dd-MM-yyyy'}}</label>
                </div>
                <div class="col" style="max-width: 5vw;">
                    <label style=" font-weight: bold; margin-left:2vw; ">Time</label>
                </div>
                <div class="col">
                    <label style=" margin-left:2vw; ">{{heads1.distime}}</label>
                </div>
            </div>
              <div class="row">
                <div class="col" style="max-width: 25vw;">
                  <label style=" margin-left:1vw; ">{{OPD.dcmntNo}}</label>
                </div>
              <div class="col" style="max-width: 5vw;">
                <label style=" font-weight: bold; margin-left:2vw; ">UHID</label>
            </div>
            <div class="col">
                  <label style=" margin-left:2vw; ">{{OPD.uhID}}</label>
              </div>
            </div>

              <div class="row">
                  <label style=" margin-left:1vw; ">{{Ward1.rCat}}</label>
              </div>
              <div class="row">
                  <div class="col" style="max-width: 25vw;">
                      <label style=" margin-left:1vw; ">{{Ward1.roomNo}}</label>
                  </div>
                  <div class="col" style="max-width: 5vw;">
                      <label style=" font-weight: bold; margin-left:2vw; ">BNo</label>
                  </div>
                  <div class="col">
                      <label style=" margin-left:2vw; ">{{Ward1.bedno}}</label>
                  </div>
              </div>
              <div class="row">
                <label style=" margin-left:1vw; ">{{OPD.dctrVisited}}</label>
            </div>
            <div class="row">
              <label style=" margin-left:1vw; ">{{OPD.caseType}}</label>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="row" style="border-bottom: solid black 1pt;">
    <table class="table table-bordered border-primary" style="margin-left:20px ; width: 92%; font-size:large; ">
      <thead>
        <tr>
          <th style="background-color:darkgray !important; color:black; font-size:large;">SNo</th>
          <th style="background-color:darkgray!important; color:black; font-size:large;">Description</th>
          <th style="background-color:darkgray!important; color:black; font-size:large;">Qty</th>
          <th style="background-color:darkgray!important; color:black; font-size:large;">Duration</th>
          <th style="background-color:darkgray!important; color:black; font-size:large;">Rate</th>
          <th style="background-color:darkgray!important; color:black; font-size:large;">Disc.%</th>
          <th style="background-color:darkgray!important; color:black; font-size:large;">Disc. Amt.</th>
          <th style="background-color:darkgray !important; color:black; font-size:large; padding-right:20px ;">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of heads.tests let i=index;">
          <td style="width:30px;">{{i+1}}</td>
          <td style="width:250px;">{{item.itmName}}</td>
          <td style="width:40px; text-align: right;">{{item.itmQty}}</td>
          <td style="width:20px ;">{{item.Remark}}</td>
          <td style="width:40px;text-align: right;">{{item.itmChrgs}}</td>
          <td style="width:30px;text-align: right;">{{item.disp}}</td>
          <td style="width:40px;text-align: right; ">{{item.itmDiscntPrsnt}}</td>
          <td style="width:40px; text-align: right;">{{item.totalAmt}}</td>
        </tr>
      </tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
      <td style="text-align: left; font-weight: bold; ">Total</td>
        <td style="text-align: right;">{{heads.grandTotal}}</td>
        <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>     
        <td style="text-align: left ; font-weight: bold; ">Discount</td>
        <td style="text-align: right;">{{heads1.discountAmt}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>     
          <td style="text-align:left; font-weight: bold; ">Bill Amt.</td>
          <td style="text-align: right; ">{{billamt}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>     
            <td style="text-align:left; font-weight: bold; ">Payment</td>
            <td style="text-align: right; ">{{heads1.adv}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>     
              <td style="text-align:left; font-weight: bold; ">Due Amt.</td>
              <td style="text-align: right; ">{{heads1.paydue}}</td>
            </tr>
    </table>
  </div>
</div>
